{% extends "core/dashboard/core_template.html" %}
{% block customcss %}

<!-- Datatable -->
<link href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
             <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}
                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                        {% if messages %}
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-information-outline"></i>
                            {% for message in messages %}
                            <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-information-outline"></i>
                            {% for message in messages %}
                            <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}

                        <a href="{{ url_for(current_user.role.index + ".DeteksiSakitDataPrint") }}" class="btn btn-success waves-effect w-md waves-light m-b-5"
                        role="button">{{_('Cetak Data')}} </a><br>

                    </div> <!-- container -->
                </div> <!-- content -->

                {% if page == "View Data Deteksi Sakit" %}
                <!-- Data Perantau dan Kedatangan Perantau Hari ini-->
                {% include 'covid19/data/partials/data_sakit.html' %} 
                <!-- Batas Data Perantau-->
                {% else %}
                {% include 'covid19/data/partials/print_data_sakit.html' %} 
                {% endif %}

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %} 
                <!-- Batas Suci Footer Lik-->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
{% endblock %}
{% block customjs %}
<script>
    var resizefunc = [];
</script>

<!--Datatable-->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>

<!--Sweet Alert-->

<!--init-->
<script src="{{ url_for('static', filename='belakang/assets/pages/jquery.datatables.init.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>

{% endblock %}
