{% extends "core/dashboard/core_template.html" %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}

                        <!-- Start Data Terbaru -->
                        {% include 'covid19/data/partials/textbox_widget.html' %}
                        <!-- end Data Terbaru -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %} 
                <!-- Batas Suci Footer Lik-->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
<!-- END wrapper -->

{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>

{% endblock %}