{% extends "core/homepage/core_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- HOME -->
<section>
  <div class="container-alt">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
              <h2 class="text-uppercase">
                <a href="/" class="text-success">
                  <span><img src="{{ url_for('static', filename='dist/img/logos.png') }}" alt=""
                      height="100"></span>
                </a>
              </h2>
              <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
            </div>

            <div class="account-content">
              <form class="form-horizontal" method="POST" action="{{url_for('auth.login')}}">
                <h2 class="form-signin-heading">
                  <center>{{('Masuk Aplikasi')}}</center>
                </h2>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="mdi mdi-information-outline"></i>
                  {% for msg in errors %}
                  <strong>{{ msg }}</strong>
                  {% endfor -%}
                </div>
                {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=["messages"]) %}
                {% if messages %}
                <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="mdi mdi-information-outline"></i>
                  {% for message in messages %}
                  <strong>{{ message }}</strong>
                  {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.email.label }}
                    {{ form.email(placeholder="Masukan Email Anda", type="text", class="form-control") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.password.label }}
                    {{ form.password(placeholder="Masukan Password Anda", type="password", class="form-control") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.remember() }} {{ form.remember.label }}
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Masuk Aplikasi</button>
              </form>
              <div class="clearfix"></div>

            </div>
          </div>
          <!-- end card-box-->
          <div class="row m-t-50">
            <div class="col-sm-12 text-center">
              <p class="text-muted">Lupa Password?<a href="{{ url_for('auth.reset_password_request')}}" class="text-primary m-l-5"><b>Reset Password</b></a></p>
            </div>
          </div>
        </div>
        <!-- end wrapper-->
      </div>
    </div>
  </div>
</section>
{% endblock %}