{% extends "main/main_template.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block customcss %}
<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="index.html" class="text-success">
                                    <span><img src="http://pegiringan.desa.id/wp-content/uploads/2017/08/logodesakupemalang.png"
                                            alt="" height="100"></span>
                                </a>
                            </h2>
                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                        </div>
                        <div class="account-content">
                            <div class="text-center m-b-20">
                                <p class="text-muted m-b-0 font-13">Enter your new password. </p>
                            </div>
                            <form class="form-horizontal" action="{{url_for('auth.reset_password', token=token)}}" method="POST">
                                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                {% if messages %}
                                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <i class="mdi mdi-information-outline"></i>
                                    {% for message in messages %}
                                    <strong>{{ message }}</strong>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.password.label }}
                                        {{ form.password(placeholder="Masukan Password Anda", type="password",
                                        class="form-control") }}
                                        {% for error in form.password.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.password2.label }}
                                        {{ form.password2(placeholder="Konfirmasi Password Anda", type="password",
                                        class="form-control") }}
                                        {% for error in form.password2.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group account-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        <button class="btn w-md btn-bordered btn-danger waves-effect waves-light" type="submit">Submit
                                        </button>
                                    </div>
                                </div>

                            </form>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- end card-box-->


                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Already have account?<a href="{{ url_for('auth.login')}}" class="text-primary m-l-5"><b>Sign
                                        In</b></a></p>
                        </div>
                    </div>

                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
{% endblock %}