{% extends "core/dashboard/core_template.html" %}
{% block customcss %}
<link href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css">
<!-- Datatable -->
<link href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
             <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}
                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                        {% if messages %}
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-information-outline"></i>
                            {% for message in messages %}
                            <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                        {% if messages %}
                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-information-outline"></i>
                            {% for message in messages %}
                            <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}

                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">{{ title }}</h4>
                                    <form method="POST" enctype="multipart/form-data" action="{{url_for('desa.ImportPemudik')}}">
                                    {{ form.hidden_tag() }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="p-20"> 
                                                    <div class="form-group m-b-20">
                                                        {{ form.csv.label }}
                                                        {{ form.csv(class="filestyle", type="file", **{'data-buttontext':"Pilih CSV"}) }}
                                                        {% for error in form.csv.errors %}
                                                        <span style="color: red;">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <!-- end class p-20 -->
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success waves-effect waves-light">{{_('Import Sekarang')}}</button>
                                        </div>
                                    </form>
                                    <!-- end form -->
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                            <!-- Batas-->
                            <div class="col-md-9">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>{{_('Data Pemudik')}}</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        {{_('Berikut ini adalah data yang sudah ada di dalam database !!')}}
                                    </p>
                                    <!--start table-->
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>{{_('No')}}</th>
                                                <th>{{_('Nama Lengkap')}}</th>
                                                <th>{{_('NIK')}}</th>
                                                <th>{{_('Alamat Lengkap')}}</th>
                                                <th>{{_('Jenis Kelamin')}}</th>
                                                <th>{{_('No Telp')}}</th>
                                                <th>{{_('Asal Negara')}}</th>
                                                <th>{{_('Asal Provinsi')}}</th>
                                                <th>{{_('Asal Kabupaten')}}</th>
                                                <th>{{_('Tanggal Mudik')}}</th>
                                                <th>{{_('Kondisi')}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for u in data %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ u.full_name() }}</td>
                                                <td>{{ u.nik }}</td>
                                                <td>{{ u.alamat }}</td>
                                                <td>
                                                    {% if u.jk == '1' %}
                                                    {{_('Laki-laki')}}
                                                    {% elif u.jk == '2' %}
                                                    {{_('Perempuan')}}
                                                    {% else %}
                                                    {{_('Tidak Terdata')}}
                                                    {% endif %}
                                                </td>
                                                <td>{{ u.telp }}</td>
                                                <td>
                                                    {% if u.asal_negara is none %}
                                                    {{_('Indonesia')}}
                                                    {% else %}
                                                    {{ u.perantau_luarnegeri.name }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ u.perantau_provinsi.name }}</td>
                                                <td>{{ u.perantau_kabupaten.name }}</td>
                                                <td>{{ u.tgl_mudik }}</td>
                                                <td>
                                                {% if (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                                {{_('Sehat')}}
                                                {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                                {{_('Sangat Buruk')}}
                                                {% else %}
                                                {{_('Kurang Sehat')}}
                                                {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                        <!-- Petunjuk -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card-box table-responsive">
                                    <h1 class="m-t-0"><b>Mohon di Perhatikan !!!</b></h1>
                                    <h4 class="m-t-0"><b>Panduan melakukan import Data Pemudik ke dalam aplikasi</b></h4>
                                    <ol>
                                        <li>
                                            Download terlebih dahulu format templates <a href="https://repo.puspindes.id/sid/contoh_import.csv">Disini</a>
                                        </li>
                                        <li>
                                            Silahkan buka file contoh_import.csv yang sudah di downloads
                                        </li>
                                        <li>
                                            Sesuaikan data pemudik anda dengan templates contoh_import.csv yang sudah di downloads.
                                        </li>
                                        <li>
                                            Perhatikan setiap kolom berikut ini.
                                            <ol>
                                                <li>
                                                    Kolom first_name ( Tidak boleh kosong )
                                                </li>
                                                <li>
                                                    Kolom last_name ( Optional/Boleh dikosongi )
                                                </li>
                                                <li>
                                                    Kolom nik ( Tidak boleh kosong )
                                                </li>
                                                <li>
                                                    Kolom tgl_lahir ( Tidak boleh kosong, format YYYY-MM-DD )
                                                </li>
                                                <li>
                                                    Kolom jk ( Tidak boleh kosong ) perhatikan tabel 1.1 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom shdk ( Tidak boleh kosong ) perhatikan tabel 1.2 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom jml_ak_dan_pemudik ( Ditulis dalam angka )
                                                </li>
                                                <li>
                                                    Kolom alamat ( Tidak boleh kosong )
                                                </li>
                                                <li>
                                                    Kolom email ( Optional/Boleh dikosongi )
                                                </li>
                                                <li>
                                                    Kolom telp ( Tidak boleh kosong )
                                                </li>
                                                <li>
                                                    Kolom asal_negara ( Tidak boleh kosong ) perhatikan tabel 1.3 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom asal_provinsi ( Tidak boleh kosong ) perhatikan tabel 1.4 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom asal_kabupaten (Tidak boleh kosong) perhatikan tabel 1.4 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom tgl_mudik ( Tidak boleh kosong, format YYYY-MM-DD )
                                                </li>
                                                <li>
                                                    Kolom alasan_mudik ( Tidak boleh kosong ) perhatikan tabel 1.5 untuk panduan pengisian.
                                                </li>
                                                <li>
                                                    Kolom alasan_mudik_lainnya ( Optional/Boleh dikosongi )
                                                </li>
                                                <li>
                                                    Kolom demam ( Tidak boleh kosong ) diisi ( ya & tidak )
                                                </li>
                                                <li>
                                                    Kolom batuk_pilek ( Tidak boleh kosong ) diisi ( ya & tidak )
                                                </li>
                                                <li>
                                                    Kolom sakit_tenggorokan ( Tidak boleh kosong ) diisi ( ya & tidak )
                                                </li>
                                                <li>
                                                    Kolom sesak_napas ( Tidak boleh kosong ) diisi ( ya & tidak )
                                                </li>
                                                <li>
                                                    Kolom status ( Tidak boleh kosong ) diisi ( pulang & belum pulang )
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            Simpan dengan format csv lalu upload pada halaman ini.
                                        </li>
                                    </ol><br>
                                    <h4 class="m-t-0 text-danger"><b>NB: Jika format tidak sesuai otomatis sistem akan menolak !!!</b></h4><br>
                                </div><!-- end card box-->
                            </div> <!-- end col -->
                            <div class="col-md-2">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>{{_('Tabel 1.1')}}</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        {{_('Kolom jk')}}
                                    </p>
                                    <!--start table-->
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>{{_('Value')}}</th>
                                                <th>{{_('Keterangan')}}</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Laki-laki</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Perempuan</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                            <div class="col-md-2">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>{{_('Tabel 1.2')}}</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        {{_('Kolom shdk')}}
                                    </p>
                                    <!--start table-->
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>{{_('Value')}}</th>
                                                <th>{{_('Keterangan')}}</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Kepala Keluarga</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Suami</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Istri</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Anak</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Menantu</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Cucu</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Orang Tua</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Mertua</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Famili Lain</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Pembantu</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Lainnya</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                            <div class="col-md-2">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>{{_('Tabel 1.5')}}</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        {{_('Kolom alasan_mudik')}}
                                    </p>
                                    <!--start table-->
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>{{_('Value')}}</th>
                                                <th>{{_('Keterangan')}}</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Kehilangan pekerjaan sementara/tetap</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Usaha sepi/Bangkrut</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Cuti Kerja/Liburan</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Lainnya</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div><!-- end row-->
                       <div class="row">
                            <div class="col-sm-6">
                                <div class="card-box table-responsive">

                                    <h4 class="m-t-0 header-title"><b>Tabel 1.3</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        Kolom asal_negara 
                                    </p>

                                    <table id="datatable-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr>
                                            <th>Nama Negara</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for a in country %}
                                        <tr>
                                            <td>{{ a.name }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card-box table-responsive">

                                    <h4 class="m-t-0 header-title"><b>Tabel 1.4</b></h4>
                                    <p class="text-muted font-13 m-b-30">
                                        Kolom asal_provinsi dan asal_kabupaten 
                                    </p>

                                    <table id="kabupaten-responsive"
                                           class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                        <tr>
                                            <th>Asal Provinsi</th>
                                            <th>Asal Kabupaten</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for a in regency %}
                                        <tr>
                                            <td>{{ a.provinces.name }}</td>
                                            <td>{{ a.name }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %} 
                <!-- Batas Suci Footer Lik-->

            </div>

            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
{% endblock %}
{% block customjs %}
<script>
    var resizefunc = [];
</script>

<script src="{{ url_for('static', filename='plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/multiselect/js/jquery.multi-select.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-quicksearch/jquery.quicksearch.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/autocomplete/jquery.mockjax.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/autocomplete/jquery.autocomplete.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/autocomplete/countries.js')}}"></script>
<!--Datatable-->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>

<!--Sweet Alert-->

<!--init-->
<script src="{{ url_for('static', filename='belakang/assets/pages/jquery.datatables.init.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#provinsi-responsive').DataTable();
        $('#kabupaten-responsive').DataTable();
        $('#jk-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>
{% endblock %}
