{% extends "core/dashboard/core_template.html" %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}
                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                        {% if messages %}
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="mdi mdi-information-outline"></i>
                            {% for message in messages %}
                            <strong>{{ message }}</strong>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <!-- Start Data Input -->
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card-box">
                                <center>
                                    <h3 class="header-title m-t-0 m-b-20 center">{{_('Hapus Semua Data Pemudik')}}</h3>
                                    <a href="{{ url_for('desa.DeleteAllPerantau') }}"><span class="btn btn-danger waves-effect w-md waves-light m-b-5">{{_('Hapus Sekarang')}}</span></a>
                                </center>
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->
                    <!-- end Data Input -->

    </div>
    <!-- end row -->
                        

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %} 
                <!-- Batas Suci Footer Lik-->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
<!-- END wrapper -->

{% endblock %}