{% extends "core/dashboard/core_template.html" %}
{% block customcss %}
<!--Date Picker -->
<link href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">

<!-- Plugins css-->
<link href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css">

<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}

                        <!-- Start Data Input -->
              <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">{{ title }}</h4>
                        <form method="POST" action="
                        {% if title == "Edit Data Pemudik" %}
                        {{url_for('desa.EditPerantau', id=perantau.id)}}{% else %}{{url_for('covid19.LaporMudikLuarNegeri')}}
                        {% endif %}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.first_name.label }}<span class="text-danger">*</span>
                                                    {{ form.first_name(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nama depan anda')}}</span>
                                                    {% for error in form.first_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.last_name.label }}</span>
                                                    {{ form.last_name(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nama belakang anda')}}</span>
                                                    {% for error in form.last_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.nik.label }}<span class="text-danger">*</span>
                                                    {{ form.nik(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Masukan NIK anda')}}</span>
                                                    {% for error in form.nik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.tgl_lahir.label }}</span>
                                                    {{ form.tgl_lahir(class="form-control", id="datepicker-tgl-lahir") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Tanggal Lahir')}}</span>
                                                    {% for error in form.tgl_lahir.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.jk.label }}</span>
                                                    {{ form.jk(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Pilih Jenis Kelamin')}}</span>
                                                    {% for error in form.jk.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                      <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.tujuan_kecamatan.label }}<span class="text-danger">*</span>
                                                {{ form.tujuan_kecamatan(class="form-control", disabled=disabled) }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Kecamatan tujuan pulang')}}</span>
                                                {% for error in form.tujuan_kecamatan.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.tujuan_desa.label }}<span class="text-danger">*</span>
                                                {{ form.tujuan_desa(class="form-control", disabled=disabled) }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Desa tujuan mudik')}}</span>
                                                {% for error in form.tujuan_desa.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.email.label }}
                                                    {{ form.email(class="form-control", placeholder="Masukan Alamat Email") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Alamat Email')}}</span>
                                                    {% for error in form.email.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.telp.label }}<span class="text-danger">*</span>
                                                    {{ form.telp(class="form-control", placeholder="Masukan Nomor Telp/HP") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nomor HP yang bisa di hubungi')}}</span>
                                                    {% for error in form.telp.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alamat.label }}<span class="text-danger">*</span>
                                                    {{ form.alamat(class="form-control", placeholder="Masukan Alamat Lengkap") }}
                                                    <span class="font-13 text-muted">{{_('Masukan alamat lengkap beserta RT/RW')}}</span>
                                                    {% for error in form.alamat.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.tgl_mudik.label }}<span class="text-danger">*</span>
                                                    {{ form.tgl_mudik(class="form-control", id="datepicker-tgl-mudik", 
                                                    placeholder="Masukan Tanggal Mudik") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Tanggal Mudik')}}</span>
                                                    {% for error in form.tgl_mudik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                        {% if form.asal_negara is none or form.asal_negara == ID %}
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.asal_provinsi.label }}<span class="text-danger">*</span>
                                                {{ form.asal_provinsi(class="form-control", disabled=disabled) }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Provinsi Asal Pemudik')}}</span>
                                                {% for error in form.asal_provinsi.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.asal_kabupaten.label }}<span class="text-danger">*</span>
                                                {{ form.asal_kabupaten(class="form-control", disabled=disabled) }}
                                                <span class="font-13 text-muted">{{_('Pilih salah Kabupaten Asal Pemudik')}}</span>
                                                {% for error in form.asal_kabupaten.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-12 m-b-10">
                                                {{ form.asal_negara.label }}<span class="text-danger">*</span>
                                                {{ form.asal_negara(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Negara Asal Pemudik')}}</span>
                                                {% for error in form.asal_negara.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                      
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.demam.label }}<span class="text-danger">*</span>
                                                    {{ form.demam(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita demam?')}}</span>
                                                    {% for error in form.demam.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.batuk_pilek.label }}<span class="text-danger">*</span>
                                                    {{ form.batuk_pilek(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita batuk pilek?')}}</span>
                                                    {% for error in form.batuk_pilek.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sakit_tenggorokan.label }}<span class="text-danger">*</span>
                                                    {{ form.sakit_tenggorokan(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita sakit tenggorokan?')}}</span>
                                                    {% for error in form.sakit_tenggorokan.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sesak_napas.label }}<span class="text-danger">*</span>
                                                    {{ form.sesak_napas(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita sesak nafas?')}}</span>
                                                    {% for error in form.sesak_napas.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alasan_mudik.label }}<span class="text-danger">*</span>
                                                    {{ form.alasan_mudik(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Pilih salah satu alasan mudik')}}</span>
                                                    {% for error in form.alasan_mudik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alasan_mudik_lainnya.label }}</span>
                                                    {{ form.alasan_mudik_lainnya(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Masukan alasan lainnya')}}</span>
                                                    {% for error in form.alasan_mudik_lainnya.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.recaptcha }}
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                    <!-- end class p-20 -->
                                   
                                </div> <!-- end col -->


                            </div> <!-- end row -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                            </div>
                        </form>
                        <!-- end form -->

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        <!-- end Data Input -->
                        

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %} 
                <!-- Batas Suci Footer Lik-->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
<!-- END wrapper -->

{% endblock %}
{% block customjs %}

<!--Datepicker-->
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

<script>
/**
 * Author: Kode Nusantara
 */
 jQuery(document).ready(function () {

// Date Picker Tanggal Mudik
jQuery('#datepicker-tgl-mudik').datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true
});

// Date Picker Tanggal Mudik
jQuery('#datepicker-tgl-lahir').datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true
});


});
</script>
{% endblock %}