{% extends "core/homepage/core_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- HOME -->
<section>
  <div class="container-alt">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
              <h2 class="text-uppercase">
                <a href="/" class="text-success">
                  <span><img src="{{ url_for('static', filename='dist/img/kawalmudik-logos1.png') }}" alt=""
                      height="150"></span>
                </a>
              </h2>
              <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
            </div>

            <div class="account-content">
              <form class="form-horizontal"  method="post">
                  {{ form.hidden_tag() }}
                <h2 class="form-signin-heading">
                  <center>{{_('Reset Password')}}</center>
                </h2>
                {% with message = get_flashed_messages(category_filter=["message-error"]) %}
                {% if errors %}
                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="mdi mdi-information-outline"></i>
                  {% for msg in message %}
                  <strong>{{ msg }}</strong>
                  {% endfor -%}
                </div>
                {% endif %}
                {% endwith %}
                
                {{ form.hidden_tag() }}
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.email.label }}
                    {{ form.email(placeholder="Masukan Email Anda", type="text", class="form-control") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                      {{ form.new_password.label }}
                      {{ form.new_password(placeholder="Masukan password baru", type="text", class="form-control") }}
                      {% for error in form.new_password.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                        {{ form.new_password2.label }}
                        {{ form.new_password2(placeholder="Masukan ulang password baru", type="text", class="form-control") }}
                        {% for error in form.new_password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                      </div>
                    </div>
               
               
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Reset Password')}}</button>
              </form>
              <div class="clearfix"></div>

            </div>
          </div>
          <!-- end card-box-->
          <div class="row m-t-50">
            <div class="col-sm-12 text-center">
              <p class="text-muted">{{_('Lupa Password?')}}<a href="{{ url_for('account.reset_password_request')}}" class="text-primary m-l-5"><b>{{_('Reset Password')}}</b></a></p>
            </div>
          </div>
        </div>
        <!-- end wrapper-->
      </div>
    </div>
  </div>
</section>
{% endblock %}