{% extends "core/homepage/core_template.html" %}
{% block customcss %}
     <!-- Plugins css-->
    <link href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12">

                <div class="wrapper-page">

                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="/" class="text-success">
                                    <span><img src="{{ url_for('static', filename='dist/img/kawalmudik-logos1.png') }}" alt=""
                      height="150"></span>
                                </a>
                            </h2>
                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                        </div>
                        <div class="account-content">
                            <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="{{url_for('account.register')}}">
                                <h2 class="form-signin-heading">
                                    <center>Sign Up</center>
                                </h2>
                                
                                {% if error %}
                                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <i class="mdi mdi-block-helper"></i>
                                    <strong>{{ error }}</strong>
                                </div>
                                {% endif %}
                                {{ form.hidden_tag() }}
                                
                                
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.province.label }}
                                        {{ form.province(class="form-control", id="select_province", required="required") }}
                                        {% for error in form.province.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}     
                                    </div>
                                </div>
                                
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.regency.label }}
                                        <select name="regency" id="select_regency" class="form-control" required>
                                            <option value="">-- Pilih Kabupaten --</option>
                                        </select>
                                        {% for error in form.regency.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.district.label }}
                                        <select name="district" id="select_district" class="form-control" required>
                                            <option value="">-- Pilih Kecamatan --</option>
                                        </select>
                                        {% for error in form.district.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.village.label }}
                                        <select name="village" id="select_village" class="form-control" required>
                                            <option value="">-- Pilih Desa --</option>
                                        </select>
                                        {% for error in form.village.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.first_name.label }}
                                        {{ form.first_name(placeholder="Nama Depan", type="text",
                                        class="form-control") }}
                                        {% for error in form.first_name.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.last_name.label }}
                                        {{ form.last_name(placeholder="Nama Belakang", type="text",
                                        class="form-control") }}
                                        {% for error in form.last_name.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        {{ form.email.label }}
                                        {{ form.email(placeholder="Masukan Email Anda", type="text",
                                        class="form-control") }}
                                        {% for error in form.email.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.password.label }}
                                        {{ form.password(placeholder="Masukan Password Anda", type="password",
                                        class="form-control") }}
                                        {% for error in form.password.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.password2.label }}
                                        {{ form.password2(placeholder="Konfirmasi Password Anda", type="password",
                                        class="form-control") }}
                                        {% for error in form.password2.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div><!--
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="control-label">File style with custom text</label>
                                        <input type="file" required="true" class="filestyle" data-buttontext="SK Admin Desa" data-buttonname="btn-default">
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form.sk.label }}
                                        {{ form.sk(class="filestyle", id="file") }}
                                        {% for error in form.sk.errors %}
                                        <span style="color: red;">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox-signup" type="checkbox" checked="checked">
                                            <label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">{{('Daftar')}}</button>
                            </form>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- end card-box-->


                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">{{_('Sudah Punya Akun?')}}<a href="{{ url_for('account.login')}}" class="text-primary m-l-5"><b>{{_('Login Sekarang')}}</b></a></p>
                        </div>
                    </div>

                </div>
                <!-- end wrapper -->

            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static', filename='plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/multiselect/js/jquery.multi-select.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-quicksearch/jquery.quicksearch.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/select2/js/select2.min.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/autocomplete/jquery.mockjax.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/autocomplete/jquery.autocomplete.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/autocomplete/countries.js')}}"></script>

<script type="text/javascript"> 
   var uploadField = document.getElementById("file");

    uploadField.onchange = function() {
        if(this.files[0].size > 1048576){
        alert("Maksimal Upload 1 MB");
        this.value = "";
        };
    };
</script> 


<!--Select Province, Regencies, District-->
<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        province: $('#select_province'),
        regency: $('#select_regency'),
        district: $('#select_district'),
        village: $('#select_village')
    };

    // // call to update on load regencies data
    // // var pilihanprov = $("#select_province");
    // // if(pilihanprov.
    // // updateRegencies();
    getProvinces();
    dropdown.regency.attr('disabled', 'disabled');
    dropdown.district.attr('disabled', 'disabled');
    dropdown.village.attr('disabled', 'disabled');

    // function to call XHR and update province dropdown
    function getProvinces() {
        // dropdown.province.attr('disabled', 'disabled');
        dropdown.province.empty();
        dropdown.province.append(
                    $('<option>', {
                        value: '',
                        text: "-- Pilih Provinsi --"
                    })
                );
        $.getJSON("{{ url_for('account.get_province') }}", function(data) {
            data.forEach(function(item) {
                dropdown.province.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
        });
    }

    // function to call XHR and update regency dropdown
    function updateRegencies() {
        var send = {
            province: dropdown.province.val()
        };
        dropdown.regency.attr('disabled', 'disabled');
        dropdown.regency.empty();
        dropdown.regency.append(
            $('<option>', {
                value: '',
                text: '-- Pilih Kabupaten --'
            })
        );
        $.getJSON("{{ url_for('account.get_regencies') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.regency.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.regency.removeAttr('disabled');
        });
    }

    // // event listener to province dropdown change
    dropdown.province.on('change', function() {
        updateRegencies();
    });



    // // call to update on load district data
    // // updateDistricts();

    // // function to call XHR and update district dropdown
    function updateDistricts() {
        var send = {
            regency: dropdown.regency.val()
        };
        dropdown.district.attr('disabled', 'disabled');
        dropdown.district.empty();
        dropdown.district.append(
            $('<option>', {
                value: '',
                text: '-- Pilih Kecamatan --'
            })
        );
        $.getJSON("{{ url_for('account.get_districts') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.district.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.district.removeAttr('disabled');
        });
    }

    // event listener to regency dropdown change
    dropdown.regency.on('change', function() {
        updateDistricts();
    });


    // // call to update on load village data
    // // updateVillages();

    // // function to call XHR and update village dropdown
    function updateVillages() {
        var send = {
            district: dropdown.district.val()
        };
        dropdown.village.attr('disabled', 'disabled');
        dropdown.village.empty();
        // dropdown.village.append(
        //     $('<option>', {
        //         value: '',
        //         text: '-- Pilih --'
        //     })
        // );
        $.getJSON("{{ url_for('account.get_villages') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.village.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.village.removeAttr('disabled');
        });
    }

    // event listener to state district change
    dropdown.district.on('change', function() {
        updateVillages();
    });

});

</script>
{% endblock %}