{% extends "core/homepage/core_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block customcss %}
<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
<!-- HOME -->
<section>
  <div class="container-alt">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
              <h2 class="text-uppercase">
                <a href="/" class="text-success">
                   <span><img src="{{ url_for('static', filename='dist/img/kawalmudik-logos1.png') }}" alt=""
                      height="150"></span>
                </a>
              </h2>
              <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
            </div>

            <div class="account-content">
              <form class="form-horizontal" method="POST" action="{{ url_for('account.AccountRequest') }}">
                <h2 class="form-signin-heading">
                  <center>{{_('Pengajuan Akun')}}</center>
                </h2>
                {% with messages = get_flashed_messages(category_filter=["message-error"]) %}
                {% if messages %}
                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <i class="mdi mdi-information-outline"></i>
                  {% for message in messages %}
                  <strong>{{ message }}</strong>
                  {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.email.label }}
                    {{ form.email(placeholder="Masukan Email Resmi Desa", type="text", class="form-control") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    {{ form.recaptcha }}
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{_('Ajukan Sekarang')}}</button>
              </form>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- end card-box-->
          <div class="row m-t-50">
          
          </div>
        </div>
        <!-- end wrapper-->
      </div>
    </div>
  </div>
</section>
{% endblock %}