{% extends "core/dashboard/core_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- HOME -->
<section>
  <div class="container-alt">
    <div class="row">
      <div class="col-sm-12">

        <div class="wrapper-page">

          <div class="m-t-40 account-pages">
            <div class="text-center account-logo-box">
              <h4 class="text-uppercase font-bold m-b-0" style="color:white">Unauthorized</h4>
            </div>
          </div>
          <!-- end card-box-->
          <div class="row m-t-50">
            <div class="col-sm-12 text-center">
              <p class="text-muted"><a href="{{ url_for('main.index')}}" class="text-primary m-l-5"><b>Kembali</b></a></p>
            </div>
          </div>
        </div>
        <!-- end wrapper-->
      </div>
    </div>
  </div>
</section>
{% endblock %}