{% extends "core/homepage/core_template.html" %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->

        {% with informations = get_flashed_messages(category_filter=["success"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-information-outline"></i>
            {% for msg in informations %}
            <strong>{{ msg }}</strong>
            {% endfor -%}
          </div>
        {% endif %}
        {% endwith %}

        {% with informations = get_flashed_messages(category_filter=["error"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-information-outline"></i>
            {% for msg in informations %}
            <strong>{{ msg }}</strong>
            {% endfor -%}
          </div>
        {% endif %}
        {% endwith %}
       
        {# Flash if user is aunteticated #}
        {% if (current_user.is_authenticated) %}
        {% with informations = get_flashed_messages(category_filter=["success_login"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-information-outline"></i>
            {% for msg in informations %}
            <strong>{{ msg }} {{ current_user.full_name() }}, {{_('Anda login sebagai user')}} 
              {{ current_user.get_role() }}</strong>
            {% endfor -%}
          </div>
        {% endif %}
        {% endwith %}
        {% endif %}

       
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="p-20">
                    <div class="text-center">
                        <h2 class="m-b-30 m-t-20">{{_('Akun Belum Diaktifkan !!')}}</h2>
                        <h4 class="m-b-0 m-t-20">
                            {{_('Akun anda belum di aktifkan oleh Administrator, silahkan lakukan PENGAJUAN AKUN atau hubungi Administrator melalui email info@puspindes.id')}}
                        </h4>
                        <h4 class="m-b-30 m-t-20">
                            {{_('Konfirmasi link akan di kirimkan melalui email')}} {{ current_user.email }} {{_('anda setelah akun anda disetujui.')}}
                        </h4>
                    </div>
                </div> <!-- end p-20 -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->


    




    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
{% endblock %}