{% extends "core/homepage/core_template.html" %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
            <div class="container">               
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>{{_('Data Posko Penanganan Covid-19')}}</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                {{ title }}
                            </p>
                            <!--start table-->
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{_('No')}}</th>
                                        <th>{{_('Posko')}}</th>
                                        <th>{{_('Alamat')}}</th>
                                        <th>{{_('Telp')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in posko %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ u.name }}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>{{ u.telp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>{{_('Rumah Sakit Penanganan Covid-19')}}</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                {{ title }}
                            </p>
                            <!--start table-->
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{_('No')}}</th>
                                        <th>{{_('Nama Rumah Sakit')}}</th>
                                        <th>{{_('Alamat')}}</th>
                                        <th>{{_('Telp')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in rs %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ u.name }}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>{{ u.telp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>{{_('Puskesmas Penanganan Covid-19')}}</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                {{ title }}
                            </p>
                            <!--start table-->
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{_('No')}}</th>
                                        <th>{{_('Nama Puskesmas')}}</th>
                                        <th>{{_('Alamat')}}</th>
                                        <th>{{_('Telp')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in puskesmas %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ u.name }}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>{{ u.telp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
