{% extends "core/homepage/core_template.html" %}
{% block customcss %}
<!--Date Picker -->
<link href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">

<!-- Plugins css-->
<link href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css">

<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
        {% with informations = get_flashed_messages(category_filter=["success"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="mdi mdi-information-outline"></i>
          {% for msg in informations %}
          <strong>{{ msg }}</strong>
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        
        <!-- Start Data Input -->
              <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">{{ title }}</h4>
                        <form method="POST" action="
                        {% if title == "Input Data Pemudik Dalam Negeri" %}
                        {{url_for('covid19.LaporMudik')}}{% else %}{{url_for('covid19.LaporMudikLuarNegeri')}}
                        {% endif %}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.first_name.label }}<span class="text-danger">*</span>
                                                    {{ form.first_name(class="form-control", placeholder="Contoh : Rohmat") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nama depan anda')}}</span>
                                                    {% for error in form.first_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.last_name.label }}</span>
                                                    {{ form.last_name(class="form-control", placeholder="Contoh: Jaelani") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nama belakang anda')}}</span>
                                                    {% for error in form.last_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.nik.label }}<span class="text-danger">*</span>
                                                    {{ form.nik(class="form-control", placeholder="Contoh: 3327XXXXXXXXXX") }}
                                                    <span class="font-13 text-muted">{{_('Masukan NIK anda')}}</span>
                                                    {% for error in form.nik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.tgl_lahir.label }}</span>
                                                    {{ form.tgl_lahir(class="form-control", id="datepicker-tgl-lahir", placeholder="Format: YYYY/MM/DD") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Tanggal Lahir')}}</span>
                                                    {% for error in form.tgl_lahir.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    {{ form.jk.label }}<span class="text-danger">*</span>
                                                    {{ form.jk(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Pilih Jenis Kelamin')}}</span>
                                                    {% for error in form.jk.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.shdk.label }}<span class="text-danger">*</span>
                                                {{ form.shdk(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih Status Hubungan Dalam Keluarga')}}</span>
                                                {% for error in form.shdk.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.jml_ak_dan_pemudik.label }}<span class="text-danger">*</span>
                                                {{ form.jml_ak_dan_pemudik(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Masukan jumlah Anggota Keluarga + Pemudik')}}</span>
                                                {% for error in form.jml_ak_dan_pemudik.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.tujuan_kecamatan.label }}<span class="text-danger">*</span>
                                                {{ form.tujuan_kecamatan(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Kecamatan tujuan pulang')}}</span>
                                                {% for error in form.tujuan_kecamatan.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.tujuan_desa.label }}<span class="text-danger">*</span>
                                                {{ form.tujuan_desa(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Desa tujuan mudik')}}</span>
                                                {% for error in form.tujuan_desa.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.email.label }}
                                                    {{ form.email(class="form-control", placeholder="Masukan Alamat Email", placeholder="slamet@gmail.com") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Alamat Email')}}</span>
                                                    {% for error in form.email.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.telp.label }}<span class="text-danger">*</span>
                                                    {{ form.telp(class="form-control", placeholder="Masukan Nomor Telp/HP", placeholder="0811XXXXXXX") }}
                                                    <span class="font-13 text-muted">{{_('Masukan nomor HP yang bisa di hubungi')}}</span>
                                                    {% for error in form.telp.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alamat.label }}<span class="text-danger">*</span>
                                                    {{ form.alamat(class="form-control", placeholder="RT/RW, Nama Jalan, Nama Desa") }}
                                                    <span class="font-13 text-muted">{{_('Masukan alamat lengkap beserta RT/RW')}}</span>
                                                    {% for error in form.alamat.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.tgl_mudik.label }}<span class="text-danger">*</span>
                                                    {{ form.tgl_mudik(class="form-control", id="datepicker-tgl-mudik", 
                                                    placeholder="Format: YYYY/MM/DD") }}
                                                    <span class="font-13 text-muted">{{_('Masukan Tanggal Mudik')}}</span>
                                                    {% for error in form.tgl_mudik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group">
                                        {% if title == "Input Data Pemudik Dalam Negeri" %}
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.asal_provinsi.label }}<span class="text-danger">*</span>
                                                {{ form.asal_provinsi(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Provinsi Asal Pemudik')}}</span>
                                                {% for error in form.asal_provinsi.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                {{ form.asal_kabupaten.label }}<span class="text-danger">*</span>
                                                {{ form.asal_kabupaten(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah Kabupaten Asal Pemudik')}}</span>
                                                {% for error in form.asal_kabupaten.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-12 m-b-10">
                                                {{ form.asal_negara.label }}<span class="text-danger">*</span>
                                                {{ form.asal_negara(class="form-control") }}
                                                <span class="font-13 text-muted">{{_('Pilih salah satu Negara Asal Pemudik')}}</span>
                                                {% for error in form.asal_negara.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                      
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.demam.label }}<span class="text-danger">*</span>
                                                    {{ form.demam(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita demam?')}}</span>
                                                    {% for error in form.demam.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.batuk_pilek.label }}<span class="text-danger">*</span>
                                                    {{ form.batuk_pilek(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita batuk pilek?')}}</span>
                                                    {% for error in form.batuk_pilek.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sakit_tenggorokan.label }}<span class="text-danger">*</span>
                                                    {{ form.sakit_tenggorokan(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita sakit tenggorokan?')}}</span>
                                                    {% for error in form.sakit_tenggorokan.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sesak_napas.label }}<span class="text-danger">*</span>
                                                    {{ form.sesak_napas(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Apakah Pemudik menderita sesak nafas?')}}</span>
                                                    {% for error in form.sesak_napas.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alasan_mudik.label }}<span class="text-danger">*</span>
                                                    {{ form.alasan_mudik(class="form-control") }}
                                                    <span class="font-13 text-muted">{{_('Pilih salah satu alasan mudik')}}</span>
                                                    {% for error in form.alasan_mudik.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.alasan_mudik_lainnya.label }}</span>
                                                    {{ form.alasan_mudik_lainnya(class="form-control", placeholder="Contoh: Menjenguk Orang Tua") }}
                                                    <span class="font-13 text-muted">{{_('Masukan alasan lainnya')}}</span>
                                                    {% for error in form.alasan_mudik_lainnya.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.recaptcha }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- end class p-20 -->
                                   
                                </div> <!-- end col -->


                            </div> <!-- end row -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                            </div>
                        </form>
                        <!-- end form -->

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        <!-- end Data Input -->

    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
<!-- Modal -->
   <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_('Informasi Larangan Mudik Periode 24 April hingga 31 Mei 2020.')}}</h4>
            </div>
            <div class="modal-body">
				<p>{{_('Sesuai dengan Peraturan Menteri Perhubungan Republik Indonesia Nomor PM 25 Tahun 2020 tentang Pengendalian Transportasi Selama Masa Mudik Idul Fitri 1441 Hijriah, dalam rangka pencegahan penyebaran Covid-19.')}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
<!--Datepicker-->
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        district_id: $('#select_tujuankecamatan'),
        village_id: $('#select_tujuandesa')
    };

    getKecamatanTujuan();
    dropdown.village_id.attr('disabled', 'disabled');

    // function to call XHR kelembagaan dropdown
    function getKecamatanTujuan() {
        dropdown.district_id.empty();
        dropdown.district_id.append(
                    $('<option>', {
                        value: '',
                        text: "--- Pilih Kecamatan Tujuan ---"
                    })
                );
        $.getJSON("{{ url_for('api.CovidTujuanKecamatan') }}", function(data) {
            data.forEach(function(item) {
                dropdown.district_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
        });
    }


    // call to update on load
    updateDesaTujuan();

    // function to call XHR and update jabatan_id dropdown
    function updateDesaTujuan() {
        var send = {
            district_id: dropdown.district_id.val()
        };
        dropdown.village_id.attr('disabled', 'disabled');
        dropdown.village_id.empty();
        dropdown.village_id.append(
            $('<option>', {
                value: '',
                text: '-- Pilih Desa Tujuan --'
            })
        );

        $.getJSON("{{ url_for('api.CovidTujuanDesa') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.village_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.village_id.removeAttr('disabled');
        });
    }

    // event listener to state dropdown change
    dropdown.district_id.on('change', function() {
        updateDesaTujuan();
    });

});

</script>

<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        province_id: $('#select_asalprovinsi'),
        regency_id: $('#select_asalkabupaten')
    };

    getAsalProvinsi();
    dropdown.regency_id.attr('disabled', 'disabled');

    // function to call XHR kelembagaan dropdown
    function getAsalProvinsi() {
        dropdown.province_id.empty();
        dropdown.province_id.append(
                    $('<option>', {
                        value: '',
                        text: "--- Pilih Asal Provinsi ---"
                    })
                );
        $.getJSON("{{ url_for('api.CovidAsalProvinsi') }}", function(data) {
            data.forEach(function(item) {
                dropdown.province_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
        });
    }


    // call to update on load
    updateAsalKabupaten();

    // function to call XHR and update jabatan_id dropdown
    function updateAsalKabupaten() {
        var send = {
            province_id: dropdown.province_id.val()
        };
        dropdown.regency_id.attr('disabled', 'disabled');
        dropdown.regency_id.empty();
        dropdown.regency_id.append(
            $('<option>', {
                value: '',
                text: '-- Pilih Asal Kabupaten --'
            })
        );

        $.getJSON("{{ url_for('api.CovidAsalKabupaten') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.regency_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.regency_id.removeAttr('disabled');
        });
    }

    // event listener to state dropdown change
    dropdown.province_id.on('change', function() {
        updateAsalKabupaten();
    });

});

</script>
<script>
/**
 * Author: Kode Nusantara
 */
 jQuery(document).ready(function () {

// Date Picker Tanggal Mudik
jQuery('#datepicker-tgl-mudik').datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true
});

// Date Picker Tanggal Mudik
jQuery('#datepicker-tgl-lahir').datepicker({
    format: "yyyy/mm/dd",
    autoclose: true,
    todayHighlight: true
});


});
</script>
{% endblock %}