{% extends "core/homepage/core_template.html" %}
{% block customcss %}
<!--Date Picker -->
<link href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet" type="text/css">

<!-- Plugins css-->
<link href="{{ url_for('static', filename='plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" type="text/css">

<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
        {% with informations = get_flashed_messages(category_filter=["success"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="mdi mdi-information-outline"></i>
          {% for msg in informations %}
          <strong>{{ msg }}</strong>
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        
        <!-- Start Data Input -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">{{ title }}</h4>
                        <form method="POST" action="{{url_for('covid19.ScreeningSakit')}}">
                           {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.first_name.label }}<span class="text-danger">*</span>
                                                    {{ form.first_name(class="form-control") }}
                                                    {% for error in form.first_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.last_name.label }}<span class="text-danger">*</span>
                                                    {{ form.last_name(class="form-control") }}
                                                    {% for error in form.last_name.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.kecamatan.label }}<span class="text-danger">*</span>
                                                    {{ form.kecamatan(class="form-control") }}
                                                    {% for error in form.kecamatan.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.desa.label }}<span class="text-danger">*</span>
                                                    {{ form.desa(class="form-control") }}
                                                    {% for error in form.desa.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.alamat.label }}<span class="text-danger">*</span>
                                                    {{ form.alamat(class="form-control") }}
                                                    {% for error in form.alamat.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.email.label }}<span class="text-danger">*</span>
                                                    {{ form.email(class="form-control") }}
                                                    {% for error in form.email.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.telp.label }}<span class="text-danger">*</span>
                                                    {{ form.telp(class="form-control") }}
                                                    {% for error in form.telp.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.recaptcha }}
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                    <!-- end class p-20 -->
                                </div> <!-- end col -->


                            </div> <!-- end row -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-success waves-effect waves-light">{{_('Lapor Sekarang')}}</button>
                            </div>
                        </form>
                        <!-- end form -->

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        <!-- end Data Input -->

    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
{% block customjs %}

<!--Datepicker-->
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        district_id: $('#lokasi_kecamatan'),
        village_id: $('#lokasi_desa')
    };

    getKecamatanTujuan();
    dropdown.village_id.attr('disabled', 'disabled');

    // function to call XHR kelembagaan dropdown
    function getKecamatanTujuan() {
        dropdown.district_id.empty();
        dropdown.district_id.append(
                    $('<option>', {
                        value: '',
                        text: "--- Pilih Lokasi Kecamatan Saya ---"
                    })
                );
        $.getJSON("{{ url_for('api.CovidTujuanKecamatan') }}", function(data) {
            data.forEach(function(item) {
                dropdown.district_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
        });
    }


    // call to update on load
    updateDesaTujuan();

    // function to call XHR and update jabatan_id dropdown
    function updateDesaTujuan() {
        var send = {
            district_id: dropdown.district_id.val()
        };
        dropdown.village_id.attr('disabled', 'disabled');
        dropdown.village_id.empty();
        dropdown.village_id.append(
            $('<option>', {
                value: '',
                text: '-- Pilih Lokasi Desa Saya --'
            })
        );

        $.getJSON("{{ url_for('api.CovidTujuanDesa') }}", send, function(data) {
            data.forEach(function(item) {
                dropdown.village_id.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.village_id.removeAttr('disabled');
        });
    }

    // event listener to state dropdown change
    dropdown.district_id.on('change', function() {
        updateDesaTujuan();
    });

});

</script>

{% endblock %}