{% extends "core/homepage/core_template.html" %}
{% block customcss %}
<style type="text/css">
.g-recaptcha{
transform:scale(0.77);
-webkit-transform:scale(0.77);
transform-origin:0 0;
-webkit-transform-origin:0 0;
}
</style>
{% endblock %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
        {% with informations = get_flashed_messages(category_filter=["success"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="mdi mdi-information-outline"></i>
          {% for msg in informations %}
          <strong>{{ msg }}</strong>
          {% endfor -%}
        </div>
        {% endif %}
        {% endwith %}
        
        <!-- Start Data Input -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card-box">
                        <h4 class="header-title m-t-0">{{ title }}</h4>
                        <form method="POST" action="{{url_for('covid19.Screening')}}">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.demam.label }}<span class="text-danger">*</span>
                                                    {{ form.demam(class="form-control") }}
                                                    {% for error in form.demam.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.batuk_pilek.label }}<span class="text-danger">*</span>
                                                    {{ form.batuk_pilek(class="form-control") }}
                                                    {% for error in form.batuk_pilek.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sakit_tenggorokan.label }}<span class="text-danger">*</span>
                                                    {{ form.sakit_tenggorokan(class="form-control") }}
                                                    {% for error in form.sakit_tenggorokan.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    {{ form.sesak_napas.label }}<span class="text-danger">*</span>
                                                    {{ form.sesak_napas(class="form-control") }}
                                                    {% for error in form.sesak_napas.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.penyakit_14hari.label }}<span class="text-danger">*</span>
                                                    {{ form.penyakit_14hari(class="form-control") }}
                                                    {% for error in form.penyakit_14hari.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.riwayat_kontak_penderita.label }}<span class="text-danger">*</span>
                                                    {{ form.riwayat_kontak_penderita(class="form-control") }}
                                                    {% for error in form.riwayat_kontak_penderita.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.riwayat_prjalan_luar.label }}<span class="text-danger">*</span>
                                                    {{ form.riwayat_prjalan_luar(class="form-control") }}
                                                    {% for error in form.riwayat_prjalan_luar.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.riwayat_perjalanan_lokal.label }}<span class="text-danger">*</span>
                                                    {{ form.riwayat_perjalanan_lokal(class="form-control") }}
                                                    {% for error in form.riwayat_perjalanan_lokal.errors %}
                                                    <span style="color: red;">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    {{ form.recaptcha }}
                                                </div>
                                            </div>
                                        </div>
                                        

                                    </div>
                                    <!-- end class p-20 -->
                                </div> <!-- end col -->


                            </div> <!-- end row -->

                            <div class="text-center">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                            </div>
                        </form>
                        <!-- end form -->

                    </div> <!-- end card-box -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        <!-- end Data Input -->

    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
