{% extends "core/homepage/core_template.html" %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
       
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="p-20">
                    <div class="text-center">
                        <h3 class="m-b-30 m-t-20">{{_('Hasil Deteksi Mandiri Anda dinyatakan SEHAT')}}</h3>
                        <p>
                            {{_('Namun disarankan untuk tetap selalu waspada, beberapa langkah yang bisa dilakukan untuk mencegah infeksi virus Corona, di antaranya:')}}
                        </p>
                    </div>
                    <div class="m-t-50 p-t-10">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-android-hand"></i>
                                </div>
                                <h4>{{_('Mencuci tangan dengan benar')}}</h4>
                                <p class="text-muted">{{_('Mencuci tangan dengan benar adalah cara paling sederhana namun efektif untuk mencegah penyebaran virus corona. Cucilah tangan dengan sabun, setidaknya selama 20 detik')}}</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-battery-charging"></i>
                                </div>
                                <h4>{{_('Menjaga daya tahan tubuh')}}</h4>
                                <p class="text-muted">{{_('Daya tahan tubuh yang kuat dapat mencegah munculnya berbagai macam penyakit. Untuk menjaga dan meningkatkan daya tahan tubuh, Anda disarankan untuk mengonsumsi makanan sehat')}}</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-model-s"></i>
                                </div>
                                <h4>{{_('Tidak pergi ke negara terjangkit')}}</h4>
                                <p class="text-muted">{{_('Anda disarankan untuk tidak bepergian ke tempat yang sudah memiliki kasus infeksi virus Corona atau berpotensi menjadi lokasi penyebaran coronavirus, baik di luar maupun dalam negeri.')}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-bug"></i>
                                </div>
                                <h4>{{_('Menghindari kontak dengan hewan mamalia dan reptil')}}</h4>
                                <p class="text-muted">{{_('Coronavirus jenis baru diduga kuat berasal dari kelelawar dan disebarkan oleh beberapa hewan mamalia dan reptil. Oleh karena itu, hindarilah kontak dengan hewan-hewan tersebut')}}</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-ios7-people"></i>
                                </div>
                                <h4>{{_('Physical distancing')}}</h4>
                                <p class="text-muted">{{_('Hindari kerumunan dan jaga jarak minimal 1 meter dengan orang lain. Langkah ini bisa diterapkan saat berada di tempat umum untuk mencegah terpapar virus corona.')}}</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="about-features-box text-center">
                                <div class="feature-icon">
                                    <i class="ion-thumbsup"></i>
                                </div>
                                <h4>{{_('Etika bersin dan batuk')}}</h4>
                                <p class="text-muted">{{_('Saat bersin dan batuk, tutup dengan tisu atau lipatan tangan agar virus tidak menyebar ke orang lain. Jangan lupa untuk segera mencuci tangan setelahnya.')}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end services -->

                </div> <!-- end p-20 -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->


    




    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
