{% extends "core/homepage/core_template.html" %}
{% block content %}
  <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">

                        <div class="wrapper-page">
                            <img src="{{ url_for('static', filename='corona/assets/images/animat-search-color.gif') }}" alt="sidekem" height="120">
                            <h2 class="text-uppercase text-danger">Halaman Tidak Ditemukan</h2>
                            <p class="text-muted">Sepertinya Anda salah belok. Jangan khawatir ... itu
                                terjadi demi yang terbaik bagi kita. Anda mungkin ingin memeriksa koneksi internet Anda. Ini a
                                sedikit tip yang mungkin membantu Anda kembali ke jalur.</p>
                            <a class="btn btn-success waves-effect waves-light m-t-20" href="{{ url_for('main.index') }}"> Kembali ke Homepage</a>
                        </div>

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->


{% endblock %}
