{% extends "core/homepage/core_template.html" %}
{% block content %}
 <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">

                        <div class="wrapper-page">
                            <img src="{{ url_for('static', filename='corona/assets/images/animat-customize-color.gif') }}" 
                            alt="sidekem" height="120">
                            <h2 class="text-uppercase text-danger">Internal Server Error</h2>
                            <p class="text-muted">Mengapa tidak mencoba menyegarkan halaman Anda? atau Anda dapat menghubungi Administrator</p>
                            <a class="btn btn-success waves-effect waves-light m-t-20" href="{{ url_for('account.logout') }}"> Kembali ke Homepage</a>
                        </div>

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->

        <script>
            var resizefunc = [];
        </script>




{% endblock %}
