<!-- Footer -->
<footer class="footer text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    {{('Made with ')}}<i class="mdi mdi-heart"></i>
                    | {{('2020 © Lapor Mudik Anakdesa -')}} <a href="https://kodenusantara.co.id" target="_blank">{{('Kode Nusantara')}}</a> X <a href="https://twitter.com/anakdesaid" target="_blank">{{('Anakdesa ID')}}</a>                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->