<!DOCTYPE html>
<html lang="en">

<head>{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{('Kawal Mudik Anakdesa 2020')}}">
    <meta name="author" content="{{('Puspindes')}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='corona/assets/images/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='corona/assets/images/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='corona/assets/images/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='corona/assets/images/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='corona/assets/images/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='corona/assets/images/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='corona/assets/images/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='corona/assets/images/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='corona/assets/images/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='corona/assets/images/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='corona/assets/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='corona/assets/images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='corona/assets/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='corona/assets/images/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='corona/assets/images/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- Title -->
    <title>{% block title %} {% if title %}{{'Kawal Mudik - '}} {{ title }} {% else %} {{ config.APP_NAME }} {% endif %} {% endblock %}</title>

    {% block customcss %} {% endblock %}

    <!-- App css -->
    <link href="{{ url_for('static', filename='corona/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/icons.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/pages.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/menu.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/responsive.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='corona/assets/css/sweetalert.css') }}" rel="stylesheet" type="text/css">
    <!-- End App css-->
    <script src="{{ url_for('static', filename='corona/assets/js/modernizr.min.js')}}"></script>

    {% if config.GOOGLE_ANALYTICS_ID %}
    <!-- Google Analytics -->
    <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %} {% endblock %}</head>

{% block content %}
<!-- ISI KONTEN ANDA LIK -->
{% endblock %} {% block javascript %}
<script>
    var resizefunc = [];
</script>

<!-- Jquery Lik -->
<script src="{{ url_for('static', filename='corona/assets/js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/detect.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/fastclick.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/jquery.blockUI.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/waves.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/jquery.slimscroll.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/jquery.scrollTo.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/switchery/switchery.min.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/sweetalert.min.js')}}"></script>

{% block customjs %} {% endblock %}

<!-- App js -->
<script src="{{ url_for('static', filename='corona/assets/js/jquery.core.js')}}"></script>
<script src="{{ url_for('static', filename='corona/assets/js/jquery.app.js')}}"></script>
{% endblock %}

</body>

</html>