<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">
            <!-- Logo container-->
            <div class="logo">
                <a href="{{ url_for('main.index') }}" class="logo">
                    <img src="{{ resized_img_src('dist/img/kawal-logo.png', width=40) }}" alt="logo">
                    {% block page_title %}{{ config.APP_NAME }}{% endblock %}
                </a>
            </div>
            <!-- End Logo container-->
                <!--Login Button-->
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="navbar-c-items" style="padding-top: 5px">
                        <button onclick="myFunction()" type="button" class="btn btn-primary btn-sm w-sm waves-effect m-t-10 waves-light">
                        {% if not (current_user.is_authenticated) %} {{_('Login')}} {% else %} {{_('Logout')}} {% endif %}</button>
                    </li>                   
                </ul>
                <!--End Login Button-->
                <script>
                    function myFunction() {
                        location.replace("{% if not (current_user.is_authenticated) %} {{ url_for('account.login') }} {% else %} {{ url_for('account.logout') }} {% endif %}")
                    }
                </script>
                
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->
        </div> 
        <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <!--Secondari Navbar-->
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li>
                        <a href="{{ url_for('main.index') }}"><i class="mdi mdi-home-map-marker"></i>{{_('Beranda')}}</a>
                    </li>
                    <li class="has-submenu">
                        <a href="#"><i class="mdi mdi-car"></i>{{_('Lapor Mudik')}}</a>
                        <ul class="submenu">
                            <li>
                                <a href="{{ url_for('covid19.LaporMudik') }}"><i class="mdi mdi-car"></i>{{_('  Dari Dalam Negeri')}}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('covid19.LaporMudikLuarNegeri') }}"><i class="mdi mdi-airplane"></i>{{_('  Dari Luar Negeri')}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('covid19.Screening') }}"><i class="mdi mdi-account-search"></i>{{_('Deteksi Mandiri')}}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('covid19.FasilitasKesehatan') }}"><i class="mdi mdi-hospital"></i>{{_('Fasilitas Kesehatan')}}</a>
                    </li>
                    <li class="has-submenu">
                        <a href="#"><i class="mdi mdi-information-outline"></i>{{_('Info Corona Lainnya')}}</a>
                        <ul class="submenu">
                            <li><a href="https://infocorona.pemalangkab.go.id">{{_('Info Corona Pemalang')}}</a></li>
                            <li><a href="https://corona.jatengprov.go.id">{{_('Info Corona Jawa Tengah')}}</a></li>
                            <li><a href="https://www.covid19.go.id/">{{_('Info Corona Nasional')}}</a></li>
                            <li><a href="https://kawalcovid19.id/">{{_('Kawal Covid19')}}</a></li>
                            <li><a href="https://google.com/covid19-map/">{{_('Covid19 Internasional')}}</a></li>
                        </ul>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{url_for(current_user.role.index + ".index")}}"><i class="mdi mdi-file-document"></i>
                        {{'Dashboard '+ current_user.role.name}}
                        </a>
                    </li>
                    {% endif %}
                    


                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->