            <div class="container">               
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                {{ title }} {{ description }}
                            </p>
                            <!--start table-->
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{_('No')}}</th>
                                        <th>{{_('Nama Lengkap')}}</th>
                                        <th>{{_('NIK')}}</th>
                                        <th>{{_('Alamat Lengkap')}}</th>
                                        <th>{{_('Jenis Kelamin')}}</th>
                                        <th>{{_('No Telp')}}</th>
                                        <th>{{_('Asal Negara')}}</th>
                                        <th>{{_('Asal Provinsi')}}</th>
                                        <th>{{_('Asal Kabupaten')}}</th>
                                        <th>{{_('Tanggal Mudik')}}</th>
                                        <th>{{_('Kondisi')}}</th>
                                        <th>{{_('Aksi Data')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ u.first_name }} {% if u.last_name is not none %} {{ u.last_name }} {% endif %}</td>
                                        <td>{% if u.nik is not none %} {{ u.nik }} {% else %} {{_(' Tidak Terdata')}} {% endif %}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>
                                            {% if u.jk == '1' %}
                                            {{_('Laki-laki')}}
                                            {% elif u.jk == '2' %}
                                            {{_('Perempuan')}}
                                            {% else %}
                                            {{_('Tidak Terdata')}}
                                            {% endif %}
                                        </td>
                                        <td>{% if u.telp is not none %} {{ u.telp }} {% else %} {{_(' Tidak Terdata')}} {% endif %}</td>
                                        <td>
                                            {% if u.asal_negara is none %}
                                            {{_('Indonesia')}}
                                            {% else %}
                                            {{ u.perantau_luarnegeri.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ u.perantau_provinsi.name }}</td>
                                        <td>{{ u.perantau_kabupaten.name }}</td>
                                        <td>{{ u.tgl_mudik }}</td>
                                        <td>
                                        {% if (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                        {{_('Sehat')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                        {{_('Sangat Buruk')}}
                                        {% else %}
                                        {{_('Kurang Sehat')}}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if u.confirmed == true %}
                                        {% else %}
                                        <a href="{{ url_for('desa.TandaiPulang', id=u.id) }}"><span class="label label-primary">{{_('Tandai Pulang')}}</span></a>
                                        {% endif %}
                                        <a href="{{ url_for('desa.DeletePerantau', id=u.id) }}"><span class="label label-danger">{{_('Hapus')}}</span></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>
            </div>