            <div class="container">               
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                            <p class="text-muted font-13 m-b-30">
                                {{ title }} {{ description }}
                            </p>
                            <!--start table-->
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{_('No')}}</th>
                                        <th>{{_('Nama Lengkap')}}</th>
                                        <th>{{_('Alamat Lengkap')}}</th>
                                        <th>{{_('Email')}}</th>
                                        <th>{{_('No Telp')}}</th>
                                        <th>{{_('Status')}}</th>
                                        <th>{{_('Aksi Data')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in data %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ u.full_name() }}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.telp }}</td>
                                        <td>
                                            {% if u.confirmed == true %}
                                                {{_('Sudah ditangani')}}
                                            {% else %}
                                                {{_('Belum ditangani')}}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if u.confirmed == true %}
                                            {% else %}
                                            <a href="{{ url_for('desa.TandaiSudahDitangani', id=u.id) }}"><span class="label label-primary">{{_('Tandai sudah ditangani')}}</span></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                    </div>
                </div>
            </div>