            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            {{ title }} {{ description }}
                        </p>
                        <!--start table-->
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{_('No')}}</th>
                                    <th>{{_('Nama Lengkap')}}</th>
                                    <th>{{_('Alamat Lengkap')}}</th>
                                    <th>{{_('Email')}}</th>
                                    <th>{{_('No Telp')}}</th>
                                    <th>{{_('Status')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in data %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ u.full_name() }}</td>
                                    <td>{{ u.alamat }}</td>
                                    <td>{{ u.email }}</td>
                                    <td>{{ u.telp }}</td>
                                    <td>
                                        {% if u.confirmed == true %}
                                            {{_('Terkonfirmasi')}}
                                        {% else %}
                                            {{_('Belum dikonfirmasi')}}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>