<div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            {{ title }} {{ description }}
                        </p>
                        <!--start table-->
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{_('No')}}</th>
                                    <th>{{_('NIK')}}</th>
                                    <th>{{_('Nama Lengkap')}}</th>
                                    <th>{{_('SHDK')}}</th>
                                    <th>{{_('Tanggal Lahir')}}</th>
                                    <th>{{_('Jenis Kelamin')}}</th>
                                    <th>{{_('No Telp')}}</th>
                                    <th>{{_('Alamat Tujuan')}}</th>
                                    <th>{{_('Asal Negara')}}</th>
                                    <th>{{_('Asal Provinsi')}}</th>
                                    <th>{{_('Asal Kabupaten')}}</th>
                                    <th>{{_('Jumlah Anggota Keluarga + Pemudik YBS')}}</th>
                                    <th>{{_('Tanggal Mudik')}}</th>
                                    <th>{{_('Kehilangan Pekerjaan Sementara/ Tetap')}}</th>
                                    <th>{{_('Usaha Sepi/ Bangkrut')}}</th>
                                    <th>{{_('Liburan/Cuti Kerja')}}</th>
                                    <th>{{_('Alasan Mudik lainnya')}}</th>
                                    <th>{{_('Keluhan')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in data %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                        <td>{% if u.nik is not none %} {{ u.nik }} {% else %} {{_(' Tidak Terdata')}} {% endif %}</td>
                                        <td>{{ u.first_name }} {% if u.last_name is not none %} {{ u.last_name }} {% endif %}</td>
                                        <td>{% if u.shdk == '1' %}
                                            {{_('Kepala Keluarga')}}
                                            {% elif u.shdk == '2' %}
                                            {{_('Suami')}}
                                            {% elif u.shdk == '3' %}
                                            {{_('Istri')}}
                                            {% elif u.shdk == '4' %}
                                            {{_('Anak')}}
                                            {% elif u.shdk == '5' %}
                                            {{_('Menantu')}}
                                            {% elif u.shdk == '6' %}
                                            {{_('Cucu')}}
                                            {% elif u.shdk == '7' %}
                                            {{_('Orang Tua')}}
                                            {% elif u.shdk == '8' %}
                                            {{_('Mertua')}}
                                            {% elif u.shdk == '9' %}
                                            {{_('Famili Lain')}}
                                            {% elif u.shdk == '10' %}
                                            {{_('Pembantu')}}
                                            {% else %}
                                            {{_('Lainnya')}}
                                            {% endif %}
                                        </td>
                                        <td>
                                        {% if u.tgl_lahir is not none %}
                                        {{ u.tgl_lahir.strftime('%d-%m-%Y') }}
                                        {% else %}
                                        {{_('Tidak di isi')}}
                                        {% endif %}
                                        </td>
                                        <td>
                                            {% if u.jk == '1' %}
                                            {{_('Laki-laki')}}
                                            {% elif u.jk == '2' %}
                                            {{_('Perempuan')}}
                                            {% else %}
                                            {{_('Tidak Terdata')}}
                                            {% endif %}
                                        </td>
                                        <td>{% if u.telp is not none %} {{ u.telp }} {% else %} {{_(' Tidak Terdata')}} {% endif %}</td>
                                        <td>{{ u.alamat }}</td>
                                        <td>
                                            {% if u.asal_negara is none %}
                                            {{_('Indonesia')}}
                                            {% else %}
                                            {{ u.perantau_luarnegeri.name }}
                                            {% endif %}
                                        </td>
                                        <td>{{ u.perantau_provinsi.name }}</td>
                                        <td>{{ u.perantau_kabupaten.name }}</td>
                                        <td>{{ u.jml_ak_dan_pemudik }}</td>
                                        <td>{{ u.tgl_mudik.strftime('%d-%m-%Y') }}</td>
                                        <td>
                                        {% if u.alasan_mudik == '1' %}
                                        {{_('Ya')}}
                                        {% else %}
                                        {{_('Tidak')}}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if u.alasan_mudik == '2' %}
                                        {{_('Ya')}}
                                        {% else %}
                                        {{_('Tidak')}}
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% if u.alasan_mudik == '3' %}
                                        {{_('Ya')}}
                                        {% else %}
                                        {{_('Tidak')}}
                                        {% endif %}
                                        </td>
                                        <td>{% if u.alasan_mudik_lainnya is not none %} {{ u.alasan_mudik_lainnya }} {% else %} {{_(' Tidak Di isi')}} {% endif %}</td>
                                        <td>
                                            {% if (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                                {{_('Demam, Batuk Pilek, Sakit Tenggorokan, Sesak Nafas')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                                {{_('Demam, Batuk Pilek, Sakit Tenggorokan')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                                {{_('Demam, Batuk Pilek, Sesak Nafas')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                                {{_('Demam, Sakit Tenggorokan, Sesak Nafas')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                                {{_('Batuk Pilek, Sakit Tenggorokan, Sesak Nafas')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                                {{_('Sakit Tenggorokan, Sesak Nafas')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                                {{_('Batuk Pilek, Sesak Nafas')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                                {{_('Batuk Pilek, Sakit Tenggorokan')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                                {{_('Demam, Sesak Nafas')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                                {{_('Demam, Sakit Tenggorokan')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                                {{_('Demam, Batuk Pilek')}}
                                            {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                                {{_('Demam')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                                {{_('Batuk Pilek')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                                {{_('Sakit Tenggorokan')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                                {{_('Sesak Nafas')}}
                                            {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                                {{_('Tidak Ada Keluhan')}}
                                            {% else %}
                                                {{_('Sakit')}}
                                            {% endif %}
                                        </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>