    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{('Statistik Informasi Covid-19 Kabupaten Pemalang')}}</h3>
                <form>
                {{ form_kab.hidden_tag() }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_kab.code(class="form-control") }}
                                    {% for error in form_kab.code.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('desa.EmbedCodeKabupaten') }}" class="btn btn-success waves-effect waves-light" role="button" aria-disabled="true">{{_('Dapatkan Code')}}</a>
                        </div>
                    </div>
                </div>
                </form>
            </div> <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-md-4">
            <div class="card-box">
            <h3 class="header-title m-t-0 m-b-30">{{('Statistik Pemudik Desa')}} {{ current_user.full_name() }}</h3>
                <form>
                {{ form_pemudik.hidden_tag() }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_pemudik.code(class="form-control") }}
                                    {% for error in form_pemudik.code.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('desa.EmbedCodePemudikDesa', village_id=current_user.village_id) }}" class="btn btn-success waves-effect waves-light" role="button" aria-disabled="true">{{_('Dapatkan Code')}}</a>
                        </div>
                    </div>
                </div>
                </form>
            </div> <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-md-4">
            <div class="card-box">
            <h3 class="header-title m-t-0 m-b-30">{{('Statistik Masyarakat Sakit Desa')}} {{ current_user.full_name() }}</h3>
               <form>
                {{ form_sakit.hidden_tag() }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_sakit.code(class="form-control") }}
                                    {% for error in form_sakit.code.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('desa.EmbedCodeSakitDesa', village_id=current_user.village_id) }}" class="btn btn-success waves-effect waves-light" role="button" aria-disabled="true">{{_('Dapatkan Code')}}</a>
                        </div>
                    </div>
                </div>
                </form>
            </div> <!-- end card -->
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-md-4">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{('Pencarian Data Pemudik Kabupaten Pemalang')}}</h3>
                <form>
                {{ form_kab.hidden_tag() }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_cari_pemudik.code(class="form-control") }}
                                    {% for error in form_cari_pemudik.code.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{ url_for('desa.EmbedCodeSearchDataPemudik') }}" class="btn btn-success waves-effect waves-light" role="button" aria-disabled="true">{{_('Dapatkan Code')}}</a>
                        </div>
                    </div>
                </div>
                </form>
            </div> <!-- end card -->
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->