<p>Dear {{ user.full_name() }},</p>

<p>Selamat Datang di Aplikasi <b>{{ config.APP_NAME }}</b> Kabupaten Pemalang !</p>

<p>Selamat, akun anda berhasil di aktifkan oleh Administrator</p>

<p>Nama     : <b>{{ user.email }}</b></p>

<p>Password : <b>Puspindes2020</b></p>

<p>Untuk masuk aplikasi silahkan klik dibawah ini !!</p>

<p><a href="{{ confirm_link }}">Login Aplikasi</a>.</p>

<p>Sebagai alternatif, Anda dapat menempelkan tautan berikut di bar alamat browser Anda:
</p>

<p>{{ confirm_link }}</p>

<p>Salam Hormat</p>

<p>{{ config.APP_NAME }} Team</p>

<p><small>Note: balasan ke alamat email ini tidak dipantau.</small></p>