<p>Dear {{ config.ADMIN_EMAIL }},</p>

<p>Pemberitahuan Pendaftaran Akun di Aplikasi <b>{{ config.APP_NAME }}</b>!</p>

<p> Nama Desa : {{ user.full_name() }} </p>

<p>Segera tinjau untuk melakukan aktivasi pendaftaran baru, untuk masuk aplikasi silahkan klik dibawah ini !!</p>

<p><a href="{{ confirm_link }}">Login Aplikasi</a>.</p>

<p>Sebagai alternatif, Anda dapat menempelkan tautan berikut di bar alamat browser Anda:
</p>

<p>{{ confirm_link }}</p>

<p>Salam Hormat</p>

<p>{{ config.APP_NAME }} Team</p>

<p><small>Note: balasan ke alamat email ini tidak dipantau.</small></p>