<p>Dear {{ user.full_name() }},</p>

<p>Welcome to <b>{{ config.APP_NAME }} Application</b>!</p>

<p>To confirm your account, please <a href="{{ confirm_link }}">click here</a>.</p>

<p>Alternatively, you can paste the following link in your browser's address bar:</p>

<p>{{ confirm_link }}</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>