<p>Dear {{ user.full_name() }},</p>

<p>Mohon maaf, permohonan akun anda ditolak oleh Administrator</p>

<p>Berikut hal yang harus diperhatikan agar akun anda disetujui oleh Administrator</p>

<p>1. Gunakan Alamat Email Resmi Desa</p>

<p>2. Lampirkan scan copy SK Admin Desa/Operator desa berbentuk PDF</p>

<p>Untuk registrasi ulang silahkan klik dibawah ini !!</p>

<p><a href="{{ register_link }}">Register Ulang</a>.</p>

<p>Sebagai alternatif, Anda dapat menempelkan tautan berikut di bar alamat browser Anda:
</p>

<p>{{ register_link }}</p>

<p>Salam Hormat</p>

<p>{{ config.APP_NAME }} Team</p>

<p><small>Note: balasan ke alamat email ini tidak dipantau.</small></p>