<p>Dear {{ q.first_name }} {{ q.last_name }},,</p>

<p>Selamat datang di <b>Aplikasi {{ config.APP_NAME }}</b> Kabupaten Pemalang !</p>

<p>Laporan anda sudah kami terima.</p>

<p>Segera mengunjungi fasilitas terdekat anda !!</p>

<p>Hormat Kami,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p> Desa Pintar </p>

<p><small>Note: replies to this email address are not monitored.</small></p>