<p>Dear {{ q.first_name }} {{ q.last_name }},,</p>

<p>Selamat datang di <b>Aplikasi {{ config.APP_NAME }}</b> Kabupaten Pemalang !</p>

<p>Sebagai alternatif, Anda dapat menempelkan tautan berikut di bar alamat browser Anda:</p>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p> Desa Pintar </p>

<p><small>Note: replies to this email address are not monitored.</small></p>