<p>Pemberitahuan Laporan masuk di Aplikasi <b>{{ config.APP_NAME }}</b> Kabupaten Pemalang !</p>

<p>Segera tinjau untuk masyarakat yang sakit</p>

<p>Hormat Kami,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p> Desa Pintar </p>

<p><small>Note: replies to this email address are not monitored.</small></p>