<p>Dear {{ perantau.full_name() }},</p>

<p>Pemberitahuan dari Aplikasi <b>{{ config.APP_NAME }}</b> Kabupaten Pemalang !</p>

<p>Selamat, akun anda sampai di kampung halaman anda !!<p>
<p>Demi mengurangi penyebaran Covid-19 atau Virus Corona di kampung halaman, di mohon kepada para pemudik segera lakukan isolasi diri selama 14 hari dirumah ..</p>

<p>Salam Hormat</p>

<p>{{ config.APP_NAME }} Team</p>

<p><small>Note: balasan ke alamat email ini tidak dipantau.</small></p>