<p>Dear {{ user.full_name() }},</p>

<p>Pemberitahuan Pendaftaran Akun di <b>Aplikasi {{ config.APP_NAME }}</b> Kabupaten Pemalang</p>

<p>Terima kasih sudah melakukan pendaftaran di Aplikasi {{ config.APP_NAME }}, Pendaftaran akun anda sedang ditinjau oleh Administrator secepatnya</p>

<p>Jika Akun anda sudah di setujui oleh Administrator maka akan ada pemberitahuan yang dikirimkan melalui email ini !!</p>

<p>Salam Hormat</p>

<p>Desakupemalang Team</p>

<p><small>Note: balasan ke alamat email ini tidak dipantau.</small></p>