{% extends "core/homepage/core_template.html" %}
{% block content %}
    <div class="container">
        <!-- Start Data Input -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card-box">
                <h4 class="header-title m-t-0">{{_('Cari Data Pemudik')}}</h4>
                <form method="GET" action="{{url_for('covid19.SearchPemudik')}}">
                {# Add Another ........... #}
                {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-20">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 m-b-10">
                                            {{ form.search.label }}
                                            {{ form.search(class="form-control", placeholder="Masukan NIK") }}
                                            {% for error in form.search.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div><!-- end col-sm 12-->
                                    </div><!-- end row-->
                                </div><!-- end form group-->
                            </div><!-- end class p-20 -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success waves-effect waves-light">{{_('Cari Sekarang')}}</button>
                    </div>
                </form>
                <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    <!-- end Data Input -->

    {% if page == 'Hasil Pencarian Data Pemudik' %}
    <!-- Start Data Input -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="card-box">
                <h4 class="header-title m-t-0">{{ title }}</h4><br>
                {% if total == 0 %}
                <h2 class="header-title m-t-0">{{_('Data Tidak Di Temukan')}}</h2><br>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered m-b-0">
                            <tbody>
                                {% for u in results %}
                                <tr>
                                    <th scope="row">{{_('Nama Lengkap:')}}</th>
                                    <td>{{ u.full_name()|title }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{_('Alamat Lengkap:')}}</th>
                                    <td>{{ u.alamat }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{_('Asal Pemudik:')}}</th>
                                    <td>{{ u.perantau_kabupaten.name }} {{_('Provinsi')}} {{ u.perantau_provinsi.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{_('Tujuan Pemudik:')}}</th>
                                    <td>{{_('Desa')}} {{ u.perantau_asal_desa.name }} {{_('Kecamatan')}} {{ u.perantau_asal_kecamatan.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{_('Tanggal Mudik:')}}</th>
                                    <td>{{ u.tgl_mudik.strftime('%d-%m-%Y') }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">{{_('Kondisi Pemudik:')}}</th>
                                    <td>
                                        {% if (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                            {{_('Demam, Batuk Pilek, Sakit Tenggorokan, Sesak Nafas')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                            {{_('Demam, Batuk Pilek, Sakit Tenggorokan')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                            {{_('Demam, Batuk Pilek, Sesak Nafas')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                            {{_('Demam, Sakit Tenggorokan, Sesak Nafas')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                            {{_('Batuk Pilek, Sakit Tenggorokan, Sesak Nafas')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == true) %}
                                            {{_('Sakit Tenggorokan, Sesak Nafas')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                            {{_('Batuk Pilek, Sesak Nafas')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                            {{_('Batuk Pilek, Sakit Tenggorokan')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                            {{_('Demam, Sesak Nafas')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                            {{_('Demam, Sakit Tenggorokan')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                            {{_('Demam, Batuk Pilek')}}
                                        {% elif (u.demam == true) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                            {{_('Demam')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == true) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                            {{_('Batuk Pilek')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == true) and (u.sesak_napas == false) %}
                                            {{_('Sakit Tenggorokan')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == true) %}
                                            {{_('Sesak Nafas')}}
                                        {% elif (u.demam == false) and (u.batuk_pilek == false) and (u.sakit_tenggorokan == false) and (u.sesak_napas == false) %}
                                            {{_('Tidak Ada Keluhan (Sehat)')}}
                                        {% else %}
                                            {{_('Sakit')}}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                <!-- end form -->
                {% endif %}
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    <!-- end Data Input -->
    {% endif %}
    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
