{% extends "core/homepage/core_template.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-account-search widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Orang Dalam Pantauan (ODP)')}}</p>
                        <h2><span data-plugin="counterup">{{(odp.odp_pemantauan + odp.odp_selesai)}}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-multiple widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pasien Dalam Pengawasan (PDP)')}}</p>
                        <h2><span data-plugin="counterup">{{(pdp.pdp_pengawasan + pdp.pdp_selesai + pdp.pdp_meninggal_negatif)}}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-warning">
                    <i class="mdi mdi-alert widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Positif COVID-19')}}</p>
                        <h2><span data-plugin="counterup">{{(positif.positif_dirawat + positif.positif_sembuh + positif.positif_meninggal)}}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-motorbike widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Hari ini')}}</p>
                        <h2><span data-plugin="counterup">{{ mudik_today }}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="demo-box">
                                <h4 class="header-title m-t-0">{{_('Orang Dalam Pantauan (ODP)')}}</h4>
                                <div class="chart" id="column-chart"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="demo-box">
                                <h4 class="header-title m-t-0">{{_('Pasien Dalam Pantauan (PDP)')}}</h4>
                                <div class="chart" id="bar-chart"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="demo-box">
                                <h4 class="header-title m-t-0">{{_('Positif Covid-19')}}</h4>
                                    <div class="chart" id="column-positif"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- end card-box -->
            </div> <!-- End col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
<!-- Google Charts js -->
<script src="https://www.google.com/jsapi"></script>

<!-- Init -->
<script>
/**
 * Theme: Zircos Admin Template
 * Author: Coderthemes
 * Module/App: Flot-Chart
 */

! function($) {
    "use strict";

    var GoogleChart = function() {
        this.$body = $("body")
    };

    //creates Column graph
    GoogleChart.prototype.createColumnChart = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //creates bar graph
    GoogleChart.prototype.createBarChart = function(selector, data, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 14,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var bar_chart = new google.visualization.BarChart(selector);
        bar_chart.draw(google_chart_data, options);
        return bar_chart;
    }
     //creates Column graph
    GoogleChart.prototype.createColumnPositif = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //init
    GoogleChart.prototype.init = function () {
        var $this = this;

         //creating column chart
        var column_data = [
            ['Waktu', 'Pemantauan', 'Selesai'],
            ['Sekarang',  {{ odp.odp_pemantauan }}, {{ odp.odp_selesai }}]
            ];
        $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a']);

        //creating bar chart
        var bar_data = [
            ['Waktu', 'Pengawasan', 'Selesai', 'Meninggal (Negatif)'],
            ['Sekarang', {{ pdp.pdp_pengawasan }}, {{ pdp.pdp_selesai }}, {{ pdp.pdp_meninggal_negatif }}]
        ];
        $this.createBarChart($('#bar-chart')[0], bar_data, ['#188ae2', '#f9c851', '#f5707a']);

        //creating column chart
        var column_data = [
            ['Waktu', 'Dirawat', 'Sembuh', 'Meninggal'],
            ['Sekarang',  {{ positif.positif_dirawat }}, {{ positif.positif_sembuh }}, {{ positif.positif_meninggal }}]
            ];
        $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);

        //on window resize - redrawing all charts
        $(window).on('resize', function() {
            $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a', '#3ac9d6']);
            $this.createBarChart($('#bar-chart')[0], bar_data, ['#4bd396', '#f5707a']);
            $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);
        });
    },
    //init GoogleChart
    $.GoogleChart = new GoogleChart, $.GoogleChart.Constructor = GoogleChart
}(window.jQuery),

//initializing GoogleChart
function($) {
    "use strict";
    //loading visualization lib - don't forget to include this
    google.load("visualization", "1", {packages:["corechart"]});
    //after finished load, calling init method
    google.setOnLoadCallback(function() {$.GoogleChart.init();});
}(window.jQuery);

</script>

{% endblock %}