{% extends "core/homepage/core_template.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-car widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Total Pemudik')}}</p>
                        <h2><span data-plugin="counterup">{{ total_perantau }}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-motorbike widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Mudik Hari Ini')}}</p>
                        <h2><span data-plugin="counterup">{{ mudik_today }}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-warning">
                    <i class="mdi mdi-airplane-landing widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Pulang')}}</p>
                        <h2><span data-plugin="counterup">{{ total_perantau_pulang }}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-ferry widget-two-icon"></i>
                    <div class="wigdet-two-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Belum Pulang')}}</p>
                        <h2><span data-plugin="counterup">{{ total_perantau - total_perantau_pulang }}</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{('Pelapor Mudik Terbaru')}}</h3>

                <div class="table-responsive">
                        <table class="table table table-hover m-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nama</th>
                                    <th>Asal</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for a in news_pemudik %}
                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-primary">{{a.first_name.0}}</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">{{a.first_name|truncate(3,true,'')+'..........'}}</h5>
                                        <p class="m-0 text-muted font-13"><small>
                                        {% if a.telp is not none %}
                                        {{a.telp|truncate(4,true,'')+'xxxxxxxxx'}}
                                        {% else %}
                                        {{_('08xxxxxxxxx')}}
                                        {% endif %}
                                        </small></p>
                                    </td>
                                    <td>
                                        <h5 class="m-0">{{a.perantau_provinsi.name}}</h5>
                                        <p class="m-0 text-muted font-13"><small>{{a.perantau_kabupaten.name}}</small></p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
    
                    </div> <!-- table-responsive -->

            </div> <!-- end card -->
        </div>
        <!-- end col -->
        

    </div>
    <!-- end row -->

       
    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>

{% endblock %}