<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-danger">
            <i class="mdi mdi-airplane-landing widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Pulang')}}</p>
                <h2><span data-plugin="counterup">{{ total_perantau_pulang }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-purple">
            <i class="mdi mdi-ferry widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Belum Pulang')}}</p>
                <h2><span data-plugin="counterup">{{(total_perantau - total_perantau_pulang )}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-warning">
            <i class="mdi mdi-account-check widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Sakit sudah ditangani')}}</p>
                <h2><span data-plugin="counterup">{{ total_sakit_sudah_ditangani }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-info">
            <i class="mdi mdi-account-remove widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Sakit belum ditangani')}}</p>
                <h2><span data-plugin="counterup">{{(total_sakit - total_sakit_sudah_ditangani)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->