<div class="row">

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-primary">
            <i class="mdi mdi-account-search widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('ODP (Kabupaten)')}}</p>
                <h2><span data-plugin="counterup">{{(odp.odp_pemantauan + odp.odp_selesai)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-warning">
            <i class="mdi mdi-account-multiple widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('PDP (Kabupaten)')}}</p>
                <h2><span data-plugin="counterup">{{(pdp.pdp_pengawasan + pdp.pdp_selesai + pdp.pdp_meninggal_negatif)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-danger">
            <i class="mdi mdi-alert widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Positif (Kabupaten)')}}</p>
                <h2><span data-plugin="counterup">{{(positif.positif_dirawat + positif.positif_sembuh + positif.positif_meninggal)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-purple">
            <i class="mdi mdi-motorbike widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Mudik Hari ini')}}</p>
                <h2><span data-plugin="counterup">{{ mudik_today }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-success">
            <i class="mdi mdi-car widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Data Pemudik')}}</p>
                <h2><span data-plugin="counterup">{{ total_perantau }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-6">
        <div class="card-box widget-box-two widget-two-inverse">
            <i class="mdi mdi-hospital widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Masyarakat Sakit')}}</p>
                <h2><span data-plugin="counterup">{{ total_sakit }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->