                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="demo-box">
                                        <h4 class="header-title m-t-0">{{_('Orang Dalam Pantauan (ODP)')}}</h4>
                                        <div class="chart" id="column-chart"></div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="demo-box">
                                        <h4 class="header-title m-t-0">{{_('Pasien Dalam Pantauan (PDP)')}}</h4>
                                        <div class="chart" id="bar-chart"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="demo-box">
                                        <h4 class="header-title m-t-0">{{_('Positif Covid-19')}}</h4>
                                        <div class="google-chart text-center">
                                            <div class="chart" id="3d-exploded-chart"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->


                        </div> <!-- end card-box -->
                    </div> <!-- End col -->
                </div>
                <!-- end row -->
