{% extends "core/dashboard/core_template.html" %}
{% block customcss %}

<!-- Datatable -->
<link href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
<!-- ============================================================== -->
<!-- Mulai -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            {% include 'core/dashboard/title_breadcrumb.html' %}
            <!-- ============================================================== -->
            <!-- Isi Halaman -->
            <!-- ============================================================== -->
            <!--Lihat Data User-->
            <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            {{ title }} {{ description }}
                        </p>
                        <!--start table-->
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{_('No')}}</th>
                                    <th>{{_('Provinsi')}}</th>
                                    <th>{{_('Kabupaten')}}</th>
                                    <th>{{_('Kecamatan')}}</th>
                                    <th>{{_('Desa')}}</th>
                                    <th>{{_('Nama Lengkap')}}</th>
                                    <th>{{_('Email')}}</th>
                                    <th>{{_('Level')}}</th>
                                    <th>{{_('SK Admin')}}
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ u.province_name }}</td>
                                    <td>{{ u.regency_name }}</td>
                                    <td>{{ u.district_name }}</td>
                                    <td>{{ u.village_name }}</td>
                                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                                    <td>{{ u.email }}</td>
                                    <td>{{ u.role_name }}</td>
                                    <td>
                                        <center><a href="{{ url_for('static', filename='uploads/sk/') }}{{u.file_sk}}" class="table-action-btn h3"><i class="fa fa-file-pdf-o"></i></a></center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>
            {#% endif %#}
            <!--End Lihat Data Kelompok Binaan-->

        </div> <!-- container -->
    </div> <!-- content -->

    <!-- Footer Lik-->
    {% include 'core/dashboard/footer.html' %}
    <!-- Batas Suci Footer Lik-->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
{% endblock %}
{% block customjs %}
<!--Datatable-->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>

<!--init-->
<script src="{{ url_for('static', filename='belakang/assets/pages/jquery.datatables.init.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>


{% endblock %}
