{% extends "core/dashboard/core_template.html" %}
{% block customcss %}
<!--Morris Chart CSS -->
<!-- <link href="{{ url_for('static', filename='plugins/morris/morris.css') }}" rel="stylesheet" type="text/css"> -->
{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            {% include 'core/dashboard/title_breadcrumb.html' %}

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-box-two widget-two-primary">
                        <i class="mdi mdi-account-multiple widget-two-icon"></i>
                        <div class="wigdet-two-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            {{('Data 1')}}</p>
                            <h2><span data-plugin="counterup"></span></h2>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-box-two widget-two-success">
                        <i class="mdi mdi-worker widget-two-icon"></i>
                        <div class="wigdet-two-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            {{('Data 2')}}</p>
                            <h2><span data-plugin="counterup"></span></h2>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-box-two widget-two-warning">
                        <i class="mdi mdi-cash-usd widget-two-icon"></i>
                        <div class="wigdet-two-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            {{('Data 3')}}</p>
                            <h2><span data-plugin="counterup"></span></h2>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="col-lg-3 col-md-6">
                    <div class="card-box widget-box-two widget-two-info">
                        <i class="mdi mdi-border-all widget-two-icon"></i>
                        <div class="wigdet-two-content">
                            <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            {{('Data 4')}}</p>
                            <h2><span data-plugin="counterup"></span></h2>
                        </div>
                    </div>
                </div><!-- end col -->

            </div>
            <!-- end row -->
        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Lik-->
    {% include 'core/dashboard/footer.html' %}
    <!-- Batas Suci Footer Lik-->

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->




</div>
<!-- END wrapper -->
{% endblock %}
{% block customjs %}
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/morris/morris.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/raphael/raphael-min.js') }}"></script>
{% endblock %}