{% extends "core/dashboard/core_template.html" %}
{% block customcss %}

<!-- Datatable -->
<link href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css') }}" rel="stylesheet" type="text/css">

<!--Sweet Alert-->
<link href="{{ url_for('static', filename='plugins/bootstrap-sweetalert/sweet-alert.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
<!-- ============================================================== -->
<!-- Mulai -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            {% include 'core/dashboard/title_breadcrumb.html' %}
            <!-- ============================================================== -->
            <!-- Isi Halaman -->
            <!-- ============================================================== -->
            <!--Tambah Data Kelembagaan-->
            <div class="row">
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="mdi mdi-information-outline"></i>
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="mdi mdi-information-outline"></i>
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {% if page == "Edit Data" %}
                <div class="col-sm-4">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">{{_('Edit')}} {{ title }}</h4>
                    <form action="{{ url_for('admin.DataPositifCoronaEdit', id=data.id) }}" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.positif_dirawat.label }}<span class="text-danger">*</span>
                            {{ form.positif_dirawat(placeholder="Masukan Jumlah Positif Dirawat", class="form-control") }}
                            {% for error in form.positif_dirawat.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.positif_sembuh.label }}<span class="text-danger">*</span>
                            {{ form.positif_sembuh(placeholder="Masukan Jumlah Positif Sembuh", class="form-control") }}
                            {% for error in form.positif_sembuh.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.positif_meninggal.label }}<span class="text-danger">*</span>
                            {{ form.positif_meninggal(placeholder="Masukan Jumlah Positif Meninggal", class="form-control") }}
                            {% for error in form.positif_meninggal.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                            <button class="btn btn-primary waves-effect waves-light" type="submit">
                                {{_('Edit Data')}}
                            </button>
                        </form>

                    
                    </div>
                </div>
                {% endif %}
               
                 <!--List Data Kelembagaan-->
                {% if page == "Edit Data" %}
                <div class="col-sm-8">
                {% else %}
                <div class="col-sm-12">
                {% endif %}
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{{_('Tabel')}} {{ title }}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                           {{ title }} {{ config.APP_NAME }}
                        </p>
                        <!--start table-->
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{_('No')}}</th>
                                    <th>{{_('Dirawat')}}</th>
                                    <th>{{_('Sembuh')}}</th>
                                    <th>{{_('Meninggal')}}</th>
                                    <th>{{_('Total')}}</th>
                                    <th>{{_('Aksi Data')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in positif %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ u.positif_dirawat }}</td>
                                    <td>{{ u.positif_sembuh }}</td>
                                    <td>{{ u.positif_meninggal }}</td>
                                    <td>{{(u.positif_dirawat + u.positif_sembuh + u.positif_meninggal)}}</td>
                                    <td>
                                        <a href="{{ url_for('admin.DataPositifCoronaEdit', id=u.id) }}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>
            <!--End Lihat Data Kelompok Binaan-->

        </div> <!-- container -->
    </div> <!-- content -->

    <!-- Footer Lik-->
    {% include 'core/dashboard/footer.html' %}
    <!-- Batas Suci Footer Lik-->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
{% endblock %}
{% block customjs %}
<!--Datatable-->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>

<!--Sweet Alert-->
<script src="{{ url_for('static', filename='plugins/bootstrap-sweetalert/sweet-alert.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>

<script>
/**
* Author: Kode Nusantara
* SweetAlert
*/

!function ($) {
    "use strict";

    var SweetAlert = function () {
    };

    //examples
    SweetAlert.prototype.init = function () {

    //Delete Data
    $('#danger-alert').click(function () {
        swal({
            title: "Apakah Anda Yakin?",
            text: "Menghapus Data ini mengakibatkan anda kehilangan data kelembagaan data Pemerintah Desa",
            type: "error",
            showCancelButton: true,
            cancelButtonClass: 'btn-default btn-md waves-effect',
            confirmButtonClass: 'btn-danger btn-md waves-effect waves-light',
            confirmButtonText: 'Delete'
        });
        
    });

    },
    //init
    $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert}(window.jQuery),

    //initializing
    function ($) {
        "use strict";
        $.SweetAlert.init()
    }(window.jQuery);
</script>


{% endblock %}
