{% extends "core/dashboard/core_template.html" %}
{% block customcss %}

<!-- Datatable -->
<link href="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.colVis.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
<!-- ============================================================== -->
<!-- Mulai -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            {% include 'core/dashboard/title_breadcrumb.html' %}
            <!-- ============================================================== -->
            <!-- Isi Halaman -->
            <!-- ============================================================== -->
            <!--Lihat Data User-->
            <div class="container">
                <div class="row">
                    <a href="#" class="btn btn-primary waves-effect w-md waves-light m-b-5"
                        role="button">{{_('Tambah Data')}}</a>
                    <a href="#" class="btn btn-success waves-effect w-md waves-light m-b-5"
                        role="button">{{_('Cetak Data')}}</a>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{{title}}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            {{ title }} {{ description }}
                        </p>
                        <!--start table-->
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{_('No')}}</th>
                                    <th>{{_('Provinsi')}}</th>
                                    <th>{{_('Kabupaten')}}</th>
                                    <th>{{_('Kecamatan')}}</th>
                                    <th>{{_('Desa')}}</th>
                                    <th>{{_('Nama Lengkap')}}</th>
                                    <th>{{_('Email')}}</th>
                                    <th>{{_('Level')}}</th>
                                    <th>{{_('SK Admin')}}
                                    <th>{{_('Aksi Data')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ u.province_name }}</td>
                                    <td>{{ u.regency_name }}</td>
                                    <td>{{ u.district_name }}</td>
                                    <td>{{ u.village_name }}</td>
                                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                                    <td>{{ u.email }}</td>
                                    <td>{{ u.role_name }}</td>
                                    <td>
                                        <center><a href="{{ url_for('static', filename='uploads/sk/') }}{{u.file_sk}}" class="table-action-btn h3"><i class="fa fa-file-pdf-o"></i></a></center>
                                    </td>
                                    <td>
                                        <a href="#" class="table-action-btn h3"><i
                                                class="mdi mdi-pencil-box-outline text-success"></i></a>
                                        <a href="#" onclick="return deleteKelompokBinaan({#{a.0}#})" class="table-action-btn h3"><i
                                                class="mdi mdi-close-box-outline text-danger"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                </div>
            </div>
            {#% endif %#}
            <!--End Lihat Data Kelompok Binaan-->

            <!--Cetak Data Kelompok Binaan-->
            {% if title == 'Cetak Data Kelompok Binaan' %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title"><b>{#{title}#}</b></h4>
                        <p class="text-muted font-13 m-b-30">
                            {#{title}#} {#{('Perikanan Perikanan Budidaya Kabupaten Pemalang')}#}
                        </p>

                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{#{('No')}#}</th>
                                    <th>{#{('Kecamatan')}#}</th>
                                    <th>{#{('Desa')}#}</th>
                                    <th>{#{('Nama Kelompok')}#}</th>
                                    <th>{#{('Tahun Berdiri')}#}</th>
                                    <th>{#{('Jenis Usaha')}#}</th>
                                    <th>{#{('Ketua')}#}</th>
                                    <th>{#{('Sekretaris')}#}</th>
                                    <th>{#{('Bendahara')}#}</th>
                                    <th>{#{('Alamat')}#}</th>
                                    <th>{#{('No SK Badan Hukum')}#}</th>
                                    <th>{#{('Telepon')}#}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {#% for a in data %#}
                                <tr>
                                    <td>{#{ loop.index }#}</td>
                                    <td>{#{a.3.title()}#}</td>
                                    <td>{#{a.4.title()}#}</td>
                                    <td>{#{a.5.title()}#}</td>
                                    <td>{#{a.6.title()}#}</td>
                                    <td>{#{a.7.title()}#}</td>
                                    <td>{#{a.8}#}</td>
                                    <td>{#{a.9}#}</td>
                                    <td>{#{a.10}#}</td>
                                    <td>{#{a.11}#}</td>
                                    <td>{#{a.12}#}</td>
                                    <td>{#{a.13}#}</td>
                                </tr>
                                {#% endfor %#}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            <!--End Cetak Data Kelompok Binaan-->

        </div> <!-- container -->
    </div> <!-- content -->

    <!-- Footer Lik-->
    {% include 'core/dashboard/footer.html' %}
    <!-- Batas Suci Footer Lik-->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
{% endblock %}
{% block customjs %}
<!--Datatable-->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/buttons.print.min.js') }}"></script>

<!--init-->
<script src="{{ url_for('static', filename='belakang/assets/pages/jquery.datatables.init.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>


{% endblock %}
