<!DOCTYPE html>
<html lang="en">
    <head>{% block head %}
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{('Aplikasi Desa vs Corona')}}">
        <meta name="author" content="{{('Puspindes')}}">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='corona/assets/images/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='corona/assets/images/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='corona/assets/images/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='corona/assets/images/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='corona/assets/images/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='corona/assets/images/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='corona/assets/images/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='corona/assets/images/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='corona/assets/images/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='corona/assets/images/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='corona/assets/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='corona/assets/images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='corona/assets/images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='corona/assets/images/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='corona/assets/images/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <!-- Title -->
        <title>{% block title %}
            {% if title %}{{'Corona - '}} {{ title }} {% else %} {{ config.APP_NAME }}
            {% endif %}
        {% endblock %}</title>

        {% block customcss %} {% endblock %}

        <!-- App css -->
        <link href="{{ url_for('static', filename='belakang/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/core.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/components.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/pages.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/menu.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='belakang/assets/css/responsive.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='plugins/switchery/switchery.min.css') }}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->


        <!-- End App css-->
        <script src="{{ url_for('static', filename='belakang/assets/js/modernizr.min.js')}}"></script>

        {% if config.GOOGLE_ANALYTICS_ID %}
        <!-- Google Analytics -->
        <script type="text/javascript">
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ config.GOOGLE_ANALYTICS_ID }}', 'auto');
        ga('send', 'pageview');
        </script>
        {% endif %}

        {% if config.SEGMENT_API_KEY %}
        <!-- Segment Analytics -->
        <script>
            !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
            analytics.load('{{ config.SEGMENT_API_KEY }}');
            analytics.page();
            }}();
        </script>
        {% endif %}

        {% endblock %}</head>

        {% block content %} 
        <!-- ISI KONTEN ANDA LIK -->
        {% endblock %}

        {% block javascript %}
        <script>
            var resizefunc = [];
        </script>

        <!-- Jquery -->
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.min.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/detect.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/fastclick.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.blockUI.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/waves.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.scrollTo.min.js')}}"></script>
        <script src="{{ url_for('static', filename='plugins/switchery/switchery.min.js')}}"></script>

        {% block customjs %} {% endblock %}

        <!-- App js -->
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.core.js')}}"></script>
        <script src="{{ url_for('static', filename='belakang/assets/js/jquery.app.js')}}"></script>
        {% endblock %}

    </body>
</html>

        
