<footer class="footer text-right">
    {{('Made with ')}}<i class="mdi mdi-heart"></i>
                    | {{('2020 © Lapor Mudik Anakdesa -')}} <a href="https://kodenusantara.co.id" target="_blank">{{('Kode Nusantara')}}</a> X <a href="https://twitter.com/anakdesaid" target="_blank">{{('Anakdesa ID')}}</a>
</footer>