<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <!---->
                <!--START LOGO-->
                <!---->
                
                <li>
                    <a href="{{url_for(current_user.role.index + ".index")}}" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Dashboard')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('main.index') }}" class="waves-effect">
                    <i class="mdi mdi-arrow-left-bold"></i><span>{{('Homepage')}}</span></a>
                </li>
                <!--Data-->
                <li class="menu-title">{{('Data')}}</li>
                {% if current_user.role.name == 'Administrator' %}
                <!---->
                <!--START MENU DASHBOARD ADMIN-->
                <!---->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user"></i><span> {{_('Registrasi')}} </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('admin.activation_users') }}" <i class="fa fa-user-plus"></i><span> {{_('Aktivasi Pengajuan')}} </span></a></li>
                    </ul>
                </li>

                <li>
                    <a href="{{ url_for('admin.registered_users') }}" class="waves-effect">
                    <i class="fa fa-users"></i><span> {{('Pengguna')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('admin.DataOdp') }}" class="waves-effect">
                    <i class="fa fa-users"></i><span> {{('ODP')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('admin.DataPdp') }}" class="waves-effect">
                    <i class="fa fa-users"></i><span> {{('PDP')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('admin.DataPositifCorona') }}" class="waves-effect">
                    <i class="fa fa-users"></i><span> {{('Positif')}}</span></a>
                </li>
                
                <!---->
                <!-- END MENU DASHBOARD ADMIN-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Desa' %}
                <!---->
                <!--START MENU DASHBOARD DESA-->
                <!---->
                
                <li>
                    <a href="{{ url_for('desa.PerantauDataView') }}" class="waves-effect">
                    <i class="mdi mdi-car"></i><span>{{('Data Pemudik')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('desa.DeteksiSakitDataView') }}" class="waves-effect">
                    <i class="mdi mdi-hospital"></i><span>{{('Data Orang Sakit')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('desa.EmbedCode') }}" class="waves-effect">
                    <i class="mdi mdi-wordpress"></i><span>{{('Embed')}}</span></a>
                </li>
                <li>
                    <a href="{{ url_for('desa.ImportPemudik') }}" class="waves-effect">
                    <i class="mdi mdi-file-import"></i><span>{{('Import Data')}}</span></a>
                </li>

                <li>
                    <a href="{{ url_for('desa.Malicious') }}" class="waves-effect">
                    <i class="mdi mdi-delete"></i><span>{{('Malicious')}}</span></a>
                </li>
                
                 
                <!---->
                <!--END MENU DASHBOARD DESA-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Kecamatan' %}
                <!---->
                <!--START MENU DASHBOARD KECAMATAN-->
                <!---->
                <li>
                    <a href="{{ url_for('kecamatan.PerantauDataView') }}" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Data Pemudik')}}</span></a>
                </li>
                 <li>
                    <a href="{{ url_for('kecamatan.DeteksiSakitDataView') }}" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Data Orang Sakit')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Kecamatan 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Kecamatan 4')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Kecamatan 5')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Kecamatan 6')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Kecamatan 7')}}</span></a>
                </li>
                <!---->
                <!--END MENU DASHBOARD KECAMATAN-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Dinpermasdes' %}
                 <!---->
                <!--START MENU DASHBOARD DINPERMASDES-->
                <!---->
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user"></i><span> {{_('Data Pokok')}} </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('dinpermasdes.kelembagaan') }}" <i class="fa fa-user-plus"></i><span> {{_('Kelembagaan')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.jabatan') }}" <i class="fa fa-user-times"></i><span> {{_('Jabatan')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.status_jabatan') }}" <i class="fa fa-user-times"></i><span> {{_('Status Jabatan')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.pangkat') }}" <i class="fa fa-user-times"></i><span> {{_('Pangkat')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.golongan') }}" <i class="fa fa-user-times"></i><span> {{_('Golongan')}} </span></a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user"></i><span> {{_('Infrastuktur')}} </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('dinpermasdes.kategori_infrastruktur') }}" <i class="fa fa-user-plus"></i><span> {{_('Data Kategori')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.subkategori_infrastruktur') }}" <i class="fa fa-user-times"></i><span> {{_('Data Sub Kategori')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.sumber_dana') }}" <i class="fa fa-user-times"></i><span> {{_('Data Sumber Dana')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.pangkat') }}" <i class="fa fa-user-times"></i><span> {{_('Pangkat')}} </span></a></li>
                        <li><a href="{{ url_for('dinpermasdes.golongan') }}" <i class="fa fa-user-times"></i><span> {{_('Golongan')}} </span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu PMD 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu PMD 4')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu PMD 5')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu PMD 6')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu PMD 7')}}</span></a>
                </li>
                <!---->
                <!--END MENU DASHBOARD DINPERMASDES-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Dinsos' %}
                <!---->
                <!--START MENU DASHBOARD DINSOS-->
                <!---->
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinsos 1')}}</span></a>
                </li>
                 <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinsos 2')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinsos 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinsos 4')}}</span></a>
                </li>
                <!---->
                <!-- END MENU DASHBOARD DINSOS-->
                <!---->
                {% endif %}
                
                {% if current_user.role.name == 'Dindik' %}
                <!---->
                <!--START MENU DINDIK-->
                <!---->
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dindik 1')}}</span></a>
                </li>
                 <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dindik 2')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dindik 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dindik 4')}}</span></a>
                </li>
                <!---->
                <!-- END MENU DASHBOARD DINDIK-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Capil' %}
                <!---->
                <!-- START MENU DASHBOARD CAPIL-->
                <!---->
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Capil 1')}}</span></a>
                </li>
                 <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Capil 2')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Capil 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Capil 4')}}</span></a>
                </li>
                <!---->
                <!-- END MENU DASHBOARD CAPIL-->
                <!---->
                {% endif %}

                {% if current_user.role.name == 'Dinkes' %}
                <!---->
                <!-- START MENU DASHBOARD DINKES-->
                <!---->
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinkes 1')}}</span></a>
                </li>
                 <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinkes 2')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinkes 3')}}</span></a>
                </li>
                <li>
                    <a href="#" class="waves-effect">
                    <i class="mdi mdi-home"></i><span>{{('Menu Dinkes 4')}}</span></a>
                </li>
                <!---->
                <!-- END MENU DASHBOARD DINKES-->
                <!---->
                {% endif %}

                <!--Pengguna-->
                <li class="menu-title">{{ ('PENGGUNA') }}</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account"></i><span>{{
                            ('Profil') }}</span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('account.logout') }}"></i> {{_('Logout') }}</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- ============== Left Sidebar End ================= -->