<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title">{% if title %}{{ config.APP_NAME }} {{_('-')}} {{ title }}{% else %}{{'Dashboard ' + current_user.role.name}}
            {% endif %}</h4>
            

            <!--Breadcrumb-->
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a href="{{url_for(current_user.role.index + ".index")}}">
                    {{'Dashboard '+ current_user.role.name}}</a>
                </li>
                <li class="active">
                    {{ title }}
                </li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->