<body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- START LOGO BRANDING-->
                <div class="topbar-left">
                    <a href="{{url_for(current_user.role.index + ".index")}}" class="logo"><span><img src="{{ url_for('static', filename='dist/img/kawalmudik-logos1.png') }}" alt=""
                      height="80"></span><i class="mdi mdi-layers"></i></a>
                </div>
                <!--END LOGO BRANDING-->
               
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Navbar-left -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button class="button-menu-mobile open-left waves-effect">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                            <li class="hidden-xs">
                                <form role="search" class="app-search">
                                    <input type="text" placeholder="Search..."
                                           class="form-control">
                                    <a href=""><i class="fa fa-search"></i></a>
                                </form>
                            </li>
                        </ul>
                        <!-- Right(Notification) -->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown user-box">
                                <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                                    <img src="{{ current_user.avatar(128) }}" alt="user-img" class="img-circle user-img">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                    <li>
                                        <h5>Hallo, {{ current_user.full_name() }}</h5>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> {{('Profile')}}</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> {{('Settings')}}</a></li>
                                    <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> {{('Lock screen')}}</a></li>
                                    <li><a href="{{ url_for('account.logout') }}"> <i class="ti-power-off m-r-5"></i> {{_('Logout') }}</a></li>
                                </ul>
                            </li>
                        </ul> <!-- end navbar-right -->
                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->
            