{% extends "core/dashboard/core_template.html" %}
{% block customcss %}
<!--Morris Chart CSS -->
<link href="{{ url_for('static', filename='plugins/morris/morris.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% include 'core/dashboard/topbar.html' %}
{% include 'core/dashboard/sidebar.html' %}
             <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        {% include 'core/dashboard/title_breadcrumb.html' %}

                        <!-- Start Card Box -->
                        {% include 'kecamatan/card_box/card_box_kecamatan.html' %}
                        <!-- end Card Box -->

                        

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Lik-->
                {% include 'core/dashboard/footer.html' %}  
                <!-- Batas Suci Footer Lik-->

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            

        </div>
        <!-- END wrapper -->
         {% endblock %}
         {% block customjs %}
         <script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
         <script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
         <script src="{{ url_for('static', filename='plugins/morris/morris.min.js') }}"></script>
         <script src="{{ url_for('static', filename='plugins/raphael/raphael-min.js') }}"></script>
        
         {% endblock %}
