<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li>
                        <a href="{{url_for('main.index')}}">{{config.APP_NAME}}</a>
                    </li>
                    <li class="active">
                        {{title}}
                    </li>
                </ol>
            </div>
            <h4 class="page-title">{{config.APP_NAME}}</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->