<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-primary">
            <i class="mdi mdi-account-search widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Orang Dalam Pantauan (ODP)')}}</p>
                <h2><span data-plugin="counterup">{{(odp.odp_pemantauan + odp.odp_selesai)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-success">
            <i class="mdi mdi-account-multiple widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pasien Dalam Pengawasan (PDP)')}}</p>
                <h2><span data-plugin="counterup">{{(pdp.pdp_pengawasan + pdp.pdp_selesai + pdp.pdp_meninggal_negatif)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-warning">
            <i class="mdi mdi-alert widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Positif COVID-19')}}</p>
                <h2><span data-plugin="counterup">{{(positif.positif_dirawat + positif.positif_sembuh + positif.positif_meninggal)}}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-3 col-md-6">
        <div class="card-box widget-box-two widget-two-info">
            <i class="mdi mdi-car widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">{{('Pemudik Hari ini')}}</p>
                <h2><span data-plugin="counterup">{{ mudik_today }}</span></h2>
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->