                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="demo-box">
                                        <h4 class="header-title m-t-0">{{_('Pemudik')}}</h4>
                                        <div class="chart" id="daily-pemudik"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="demo-box">
                                        <h4 class="header-title m-t-0">{{_('Monitoring Pemudik Kecamatan')}}</h4>
                                        <div class="chart" id="pemudik-kecamatan"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- end row -->


                        </div> <!-- end card-box -->
                    </div> <!-- End col -->
                </div>
                <!-- end row -->
