{% extends "core/homepage/core_template.html" %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
               
        {# Flash if user is aunteticated #}
        {% if (current_user.is_authenticated) %}
        {% with informations = get_flashed_messages(category_filter=["success_login"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-information-outline"></i>
            {% for msg in informations %}
            <strong>{{ msg }} {{ current_user.full_name() }}, {{_('Anda login sebagai user')}} 
              {{ current_user.get_role() }}</strong>
            {% endfor -%}
          </div>
        {% endif %}
        {% endwith %}
        {% endif %}

        <!-- Start Card Box -->
        {% include 'homepage/card_box.html' %}
        <!-- end Card Box -->

        <!-- Start Card Box -->
        {% include 'homepage/chart.html' %}
        <!-- end Card Box -->

        <!-- Start Data Terbaru -->
        {% include 'homepage/news_information.html' %}
        <!-- end Data Terbaru -->

        <!-- Start Maps -->
        {% include 'homepage/maps_pemudik.html' %}
        <!-- end Maps -->

        <!-- Start Card Box -->
        {% include 'homepage/chart_pemudik.html' %}
        <!-- end Card Box -->

    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
<!-- Modal -->
   <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{_('Informasi Larangan Mudik Periode 24 April hingga 31 Mei 2020.')}}</h4>
            </div>
            <div class="modal-body">
				<p>{{_('Sesuai dengan Peraturan Menteri Perhubungan Republik Indonesia Nomor PM 25 Tahun 2020 tentang Pengendalian Transportasi Selama Masa Mudik Idul Fitri 1441 Hijriah, dalam rangka pencegahan penyebaran Covid-19.')}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
<!-- Google Charts js -->
<script src="https://www.google.com/jsapi"></script>

<!-- Init -->
<script>

! function($) {
    "use strict";

    var GoogleChart = function() {
        this.$body = $("body")
    };

    //creates line graph
    GoogleChart.prototype.createLineChart = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 340,
            curveType: 'function',
            fontSize: 14,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 300
            },
            pointSize: 4,
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 14
                }
            },
            lineWidth: 3,
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var line_chart = new google.visualization.LineChart(selector);
        line_chart.draw(google_chart_data, options);
        return line_chart;
    },

    //creates pie chart
    GoogleChart.prototype.createPieChart = function(selector, data, colors, is3D, issliced) {
        var options = {
            fontName: 'Hind Madurai',
            fontSize: 10,
            height: 340,
            // width: 500,
            chartArea: {
                left: 50,
                width: '90%',
                height: '90%'
            },
            colors: colors
        };
        

        if(is3D) {
            options['is3D'] = true;
        }

        if(issliced) {
            options['is3D'] = true;
            options['pieSliceText'] = 'label';
            options['slices'] = {
                2: {offset: 0.15},
                5: {offset: 0.1}
            };
        }

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var pie_chart = new google.visualization.PieChart(selector);
        pie_chart.draw(google_chart_data, options);
        return pie_chart;
    },

    //creates Column graph
    GoogleChart.prototype.createColumnChart = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //creates bar graph
    GoogleChart.prototype.createBarChart = function(selector, data, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 14,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var bar_chart = new google.visualization.BarChart(selector);
        bar_chart.draw(google_chart_data, options);
        return bar_chart;
    }
     //creates Column graph
    GoogleChart.prototype.createColumnPositif = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //init
    GoogleChart.prototype.init = function () {
        var $this = this;

        var daily_pemudik = [
            ['Tanggal', 'Total'],
            {% for item in daily_pemudik %}
                ['{{item.tgl_mudik.strftime("%d %B")}}' , {{item.count|safe}}],
            {% else %}
                ['Belum ada data', 0]
            {% endfor %}
        ];
        $this.createLineChart($('#daily-pemudik')[0], daily_pemudik, 'Daily Pemudik', ['#4bd396', '#f5707a']);

        //creating pie chart
        var pemudik_kecamatan = [
            ['Kecamatan', 'Total'],
            {% for item in pemudik_kecamatan %}
                ['{{item.name}}', {{item.total}}],
            {% else %}
                ['Belum ada data', 0]
            {% endfor %}
        ];
        $this.createPieChart($('#pemudik-kecamatan')[0], pemudik_kecamatan, ['#188ae2', '#4bd396', '#f9c851', '#f5707a', '#6b5fb5', '#3ac9d6', '#ff8247', '#c1272d', '#33363f', '#009966', '#cdb5ff', '#141728', '#141728', '#ffc0a3'], false, false);

        //creating column chart
        var column_data = [
            ['Waktu', 'Pemantauan', 'Selesai'],
            ['Sekarang',  {{ odp.odp_pemantauan }}, {{ odp.odp_selesai }}]
            ];
        $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a']);

        //creating bar chart
        var bar_data = [
            ['Waktu', 'Pengawasan', 'Selesai', 'Meninggal (Negatif)'],
            ['Sekarang', {{ pdp.pdp_pengawasan }}, {{ pdp.pdp_selesai }}, {{ pdp.pdp_meninggal_negatif }}]
        ];
        $this.createBarChart($('#bar-chart')[0], bar_data, ['#188ae2', '#f9c851', '#f5707a']);

        //creating column chart
        var column_data = [
            ['Waktu', 'Dirawat', 'Sembuh', 'Meninggal'],
            ['Sekarang',  {{ positif.positif_dirawat }}, {{ positif.positif_sembuh }}, {{ positif.positif_meninggal }}]
            ];
        $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);

        //on window resize - redrawing all charts
        $(window).on('resize', function() {
            $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a', '#3ac9d6']);
            $this.createBarChart($('#bar-chart')[0], bar_data, ['#4bd396', '#f5707a']);
            $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);
        });
    },
    //init GoogleChart
    $.GoogleChart = new GoogleChart, $.GoogleChart.Constructor = GoogleChart
}(window.jQuery),

//initializing GoogleChart
function($) {
    "use strict";
    //loading visualization lib - don't forget to include this
    google.load("visualization", "1", {packages:["corechart"]});
    //after finished load, calling init method
    google.setOnLoadCallback(function() {$.GoogleChart.init();});
}(window.jQuery);
</script>

<!-- Laeflet -->
<script>
    var pemalangUpdate = pemalangData;
    $.ajax({
        type: "GET",
        url: '{{ url_for("maps.pemudik_per_desa") }}',
        datatype: "json",
        async: false,
        success: function(data) {
            data.forEach(function(value, i) {
                setPemudik(value.desa_id, value.pemudik);
            });
        }
    });


    function setPemudik(desa_id, pemudik) {
        for (var i = 0; i < pemalangUpdate.features.length; i++) {
            if (pemalangUpdate.features[i].properties.desa_id == desa_id) {
                pemalangUpdate.features[i].properties.pemudik = pemudik;
            }
        }
    }

    var map = L.map('map').setView([-7.0105213, 109.403589], 10);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        style: 'mapbox://styles/mapbox/light-v10',
        accessToken: 'pk.eyJ1IjoiYmFyYXJhbWFkaGFuIiwiYSI6ImNrOTd5dzF2bzBrY20zbXRhZG1sbTV5bXMifQ.xShg_s23saoVfSkIUe0Hqg'
    }).addTo(map);

    if (L.Browser.mobile) {
        map.dragging.disable();
        map.touchZoom.disable();
        if (map.tap) map.tap.disable();
        map.on('click', onTapToggleInteraction);
    }

    function onTapToggleInteraction(e) {

        if (!map.dragging.enabled()) {
            map.dragging.enable();
            map.touchZoom.enable();
            map.tap.enable();
        } else {
            map.dragging.disable();
            map.touchZoom.disable();
            map.tap.disable();
        }
    }

    // get color depending on population density value 
    function getColor(d) {
        return d > 1000 ? '#800026' :
            d > 500 ? '#BD0026' :
            d > 200 ? '#E31A1C' :
            d > 100 ? '#FC4E2A' :
            d > 50 ? '#FD8D3C' :
            d > 20 ? '#FEB24C' :
            d > 10 ? '#FED976' :
            d > 0 ? '#FFEDA0' :
            '#FFFFFF';
    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.pemudik)
        };
    }

    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function(map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function(props) {
        this._div.innerHTML = '<h4>Kabupaten Pemalang</h4>' + (props ?
            '<b>Desa : ' + props.NamaDesa + '</b><br />' + '<b>Kecamatan : ' + props.NamaKec + '</b><br />' + '<b>Pemudik : ' + props.pemudik + '</b>' :
            'Arahkan kursor ke suatu desa');
    };

    info.addTo(map);

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            // click: zoomToFeature
        });
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }


    geojson = L.geoJson(pemalangUpdate, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);

    var legend = L.control({
        position: 'bottomright'
    });

    legend.onAdd = function(map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 10, 20, 50, 100, 200, 500, 1000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' + from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map);
</script>

{% endblock %}