<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="demo-box">
                        <h4 class="header-title m-t-0">{{_('Peta Sebaran Pemudik')}}</h4>
                        <div id="map"></div>
                    </div>
                </div>

            </div>
            <!-- end row -->


        </div>
        <!-- end card-box -->
    </div>
    <!-- End col -->
</div>
<!-- end row -->
{% block customcss %}
<!-- Laeflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<style>
    #map {
        width: 100%;
        height: 600px;
    }
    
    .info {
        padding: 6px 8px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    
    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    
    .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    
    @media only screen and (max-width:800px) {
        /* For tablets: */
        .legend {
            text-align: left;
            line-height: 18px;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    }
    
    @media only screen and (max-width:500px) {
        /* For mobile phones: */
        .legend {
            text-align: left;
            line-height: 20px;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    }
</style>
<script src="{{ url_for('static', filename='pemalang.min.js')}}"></script>
{% endblock %}