{% extends "core/homepage/core_template.html" %}
{% block content %}
{% include 'core/homepage/core_navbar.html' %}

<div class="wrapper">

    <div class="container">

        <!-- Start page tittle and breadcrumb -->
        {% include 'homepage/breadcrumb.html' %}
        <!-- end page title and breadcrumb -->
               
        {# Flash if user is aunteticated #}
        {% if (current_user.is_authenticated) %}
        {% with informations = get_flashed_messages(category_filter=["success_login"]) %}
        {% if informations %}
        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-information-outline"></i>
            {% for msg in informations %}
            <strong>{{ msg }} {{ current_user.full_name() }}, {{_('Anda login sebagai user')}} 
              {{ current_user.get_role() }}</strong>
            {% endfor -%}
          </div>
        {% endif %}
        {% endwith %}
        {% endif %}

        <!-- Start Card Box -->
        {% include 'homepage/card_box.html' %}
        <!-- end Card Box -->

        <!-- Start Card Box -->
        {% include 'homepage/chart.html' %}
        <!-- end Card Box -->

        <!-- Start Data Terbaru -->
        {% include 'homepage/news_information.html' %}
        <!-- end Data Terbaru -->

        <!-- Start Card Box -->
        {% include 'homepage/chart_pemudik.html' %}
        <!-- end Card Box -->

    </div>
    <!-- end row -->
    <!--Footer-->
    {% include 'core/homepage/core_footer.html' %}
    <!--End Footer-->
</div>
</div>
{% endblock %}
{% block customjs %}
<!--Javascript Tombol Login-->

<!--End Javascript Tombol Login-->
<!--Counter up-->
<script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>
<!-- Google Charts js -->
<script src="https://www.google.com/jsapi"></script>

<!-- Init -->
<script>
/**
 * Theme: Zircos Admin Template
 * Author: Coderthemes
 * Module/App: Flot-Chart
 */

! function($) {
    "use strict";

    var GoogleChart = function() {
        this.$body = $("body")
    };

    //creates line graph
    GoogleChart.prototype.createLineChart = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 340,
            curveType: 'function',
            fontSize: 14,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 300
            },
            pointSize: 4,
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 14
                }
            },
            lineWidth: 3,
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var line_chart = new google.visualization.LineChart(selector);
        line_chart.draw(google_chart_data, options);
        return line_chart;
    },

    //creates pie chart
    GoogleChart.prototype.createPieChart = function(selector, data, colors, is3D, issliced) {
        var options = {
            fontName: 'Hind Madurai',
            fontSize: 13,
            height: 340,
            // width: 500,
            chartArea: {
                left: 50,
                width: '90%',
                height: '90%'
            },
            colors: colors
        };
        

        if(is3D) {
            options['is3D'] = true;
        }

        if(issliced) {
            options['is3D'] = true;
            options['pieSliceText'] = 'label';
            options['slices'] = {
                2: {offset: 0.15},
                5: {offset: 0.1}
            };
        }

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var pie_chart = new google.visualization.PieChart(selector);
        pie_chart.draw(google_chart_data, options);
        return pie_chart;
    },

    //creates Column graph
    GoogleChart.prototype.createColumnChart = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //creates bar graph
    GoogleChart.prototype.createBarChart = function(selector, data, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 14,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var bar_chart = new google.visualization.BarChart(selector);
        bar_chart.draw(google_chart_data, options);
        return bar_chart;
    }
     //creates Column graph
    GoogleChart.prototype.createColumnPositif = function(selector, data, axislabel, colors) {
        var options = {
            fontName: 'Hind Madurai',
            height: 400,
            fontSize: 13,
            chartArea: {
                left: '5%',
                width: '90%',
                height: 350
            },
            tooltip: {
                textStyle: {
                    fontName: 'Hind Madurai',
                    fontSize: 14
                }
            },
            vAxis: {
                title: axislabel,
                titleTextStyle: {
                    fontSize: 14,
                    italic: false
                },
                gridlines:{
                    color: '#f5f5f5',
                    count: 10
                },
                minValue: 0
            },
            legend: {
                position: 'top',
                alignment: 'center',
                textStyle: {
                    fontSize: 13
                }
            },
            colors: colors
        };

        var google_chart_data = google.visualization.arrayToDataTable(data);
        var column_chart = new google.visualization.ColumnChart(selector);
        column_chart.draw(google_chart_data, options);
        return column_chart;
    },
    //init
    GoogleChart.prototype.init = function () {
        var $this = this;

        var daily_pemudik = [
            ['Tanggal', 'Total'],
            {% for item in daily_pemudik %}
                ['{{item.tgl_mudik.strftime("%d %B")}}' , {{item.count|safe}}],
            {% else %}
                ['Belum ada data', 0]
            {% endfor %}
        ];
        $this.createLineChart($('#daily-pemudik')[0], daily_pemudik, 'Daily Pemudik', ['#4bd396', '#f5707a']);

        //creating pie chart
        var pemudik_kecamatan = [
            ['Kecamatan', 'Total'],
            {% for item in pemudik_kecamatan %}
                ['{{item.name}}', {{item.total}}],
            {% else %}
                ['Belum ada data', 0]
            {% endfor %}
        ];
        $this.createPieChart($('#pemudik-kecamatan')[0], pemudik_kecamatan, ['#188ae2', '#4bd396', '#f9c851', '#f5707a', '#6b5fb5'], false, false);

        //creating column chart
        var column_data = [
            ['Waktu', 'Pemantauan', 'Selesai'],
            ['Sekarang',  {{ odp.odp_pemantauan }}, {{ odp.odp_selesai }}]
            ];
        $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a']);

        //creating bar chart
        var bar_data = [
            ['Waktu', 'Pengawasan', 'Selesai', 'Meninggal (Negatif)'],
            ['Sekarang', {{ pdp.pdp_pengawasan }}, {{ pdp.pdp_selesai }}, {{ pdp.pdp_meninggal_negatif }}]
        ];
        $this.createBarChart($('#bar-chart')[0], bar_data, ['#188ae2', '#f9c851', '#f5707a']);

        //creating column chart
        var column_data = [
            ['Waktu', 'Dirawat', 'Sembuh', 'Meninggal'],
            ['Sekarang',  {{ positif.positif_dirawat }}, {{ positif.positif_sembuh }}, {{ positif.positif_meninggal }}]
            ];
        $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);

        //on window resize - redrawing all charts
        $(window).on('resize', function() {
            $this.createColumnChart($('#column-chart')[0], column_data, 'ODP', ['#4bd396', '#f5707a', '#3ac9d6']);
            $this.createBarChart($('#bar-chart')[0], bar_data, ['#4bd396', '#f5707a']);
            $this.createColumnPositif($('#column-positif')[0], column_data, 'Positif', ['#6b5fb5', '#4bd396', '#f5707a']);
        });
    },
    //init GoogleChart
    $.GoogleChart = new GoogleChart, $.GoogleChart.Constructor = GoogleChart
}(window.jQuery),

//initializing GoogleChart
function($) {
    "use strict";
    //loading visualization lib - don't forget to include this
    google.load("visualization", "1", {packages:["corechart"]});
    //after finished load, calling init method
    google.setOnLoadCallback(function() {$.GoogleChart.init();});
}(window.jQuery);


</script>

{% endblock %}