<div class="row">
        <div class="col-md-3">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{('Pelapor Mudik Terbaru')}}</h3>

                <div class="table-responsive">
                        <table class="table table table-hover m-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nama</th>
                                    <th>Asal</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for a in news_pemudik %}
                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-primary">{{a.first_name.0}}</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">{{a.first_name|truncate(3,true,'')+'..........'}}</h5>
                                        <p class="m-0 text-muted font-13"><small>
                                        {% if a.telp is not none %}
                                        {{a.telp|truncate(4,true,'')+'xxxxxxxxx'}}
                                        {% else %}
                                        {{_('08xxxxxxxxx')}}
                                        {% endif %}
                                        </small></p>
                                    </td>
                                    <td>
                                        <h5 class="m-0">{{a.perantau_provinsi.name}}</h5>
                                        <p class="m-0 text-muted font-13"><small>{{a.perantau_kabupaten.name}}</small></p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
    
                    </div> <!-- table-responsive -->

            </div> <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-md-3">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{('Pelapor Sakit Terbaru')}}</h3>

                <div class="table-responsive">
                    <table class="table table table-hover m-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{_('Nama Lengkap')}}</th>
                                <th>{{_('Lokasi')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for a in news_laporsakit %}
                            <tr>
                                <th>
                                    <span class="avatar-sm-box bg-primary">{{a.first_name.0}}</span>
                                </th>
                                <td>
                                    <h5 class="m-0">{{a.first_name|truncate(3,true,'')+'..........'}}</h5>
                                    <p class="m-0 text-muted font-13"><small>
                                    {% if a.telp is not none %}
                                    {{a.telp|truncate(4,true,'')+'xxxxxxxxx'}}
                                    {% else %}
                                    {{_('08xxxxxxxxx')}}
                                    {% endif %}
                                    </small></p>
                                </td>
                                <td>
                                    <h5 class="m-0">{{ a.lapor_sakit_kecamatan.name }}</h5>
                                    <p class="m-0 text-muted font-13"><small>{{ a.lapor_sakit_desa.name }}</small></p>
                                </td>
                            </tr>
                            {% endfor %}

                      

                        </tbody>
                    </table>

                </div> <!-- table-responsive -->
            </div> <!-- end card -->
        </div>
        <!-- end col -->

        <div class="col-md-6">
            <div class="card-box">
                <h3 class="header-title m-t-0 m-b-30">{{_('Keterangan')}}</h3>
                <h4 class="header-title m-t-0 m-b-10">{{_('Orang Dalam Pemantauan (ODP)')}}</h4>
                <h5 class="header-title m-t-0 m-b-20">{{_('Seseorang yang mengalami gejala demam (>38 C) atau riwayat demam tanpa pneumonia yang memiliki riwayat perjalanan ke wilayah yang terjangkit.')}}</h5>

                <h4 class="header-title m-t-0 m-b-10">{{_('Pasien Dalam Pengawasan (PDP)')}}</h4>
                <h5 class="header-title m-t-0 m-b-20">{{_('Pasien pnemonia ringan hingga berat yang mengalami demam (>38 C) atau riwayat demam dan memiliki riwayat kontak dengan hewan penular, riwayat kontak dengan pasien COVID-19, atau riwayat perjalanan ke negara terjangkit dalam 14 hari.')}}</h5>
                
                <p class="text-muted">*Data ODP, PDP, Positif Covid-19 diambil dari https://infocorona.pemalangkab.go.id</p>
            </div> <!-- end card -->
        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
